<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link  rel="stylesheet" href="~/css/Layout.css"/>
    <script type="text/javascript">
      window.onload = function () {
        document.onkeydown = function () {
          var e = window.event || arguments[0];
          //屏蔽F12
          if (e.keyCode == 123) {
            alert('友情提醒您，本网站禁止审查元素');
            return false;
            //屏蔽Ctrl+Shift+I
          } else if ((e.ctrlKey) && (e.shiftKey) && (e.keyCode == 73)) {
            alert('友情提醒您，本网站禁止审查元素');
            return false;
            //屏蔽Shift+F10
          } else if ((e.shiftKey) && (e.keyCode == 121)) {
            alert('本网站禁止审查元素！');

            return false;

          } else if (event.ctrlKey && window.event.keyCode == 83) {
            alert('本网站禁止保存文件！');
            return false;
          }
        };
        ////屏蔽右键单击
        document.oncontextmenu = function () {
          alert('友情提醒您，本网站禁止审查元素');
          return false;
        }
      }

  </script>
 </head>
<body>
  <div style="width:100%;margin:auto;border:0px solid blue;">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#example-navbar-collapse" id="btn" aria-expanded="false">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="tp1">
          <a href="#" id="tp1">
            <img src="http://9513246.s21i.faiusr.com/4/ABUIABAEGAAg0pLhywUo5KXEhgQw2wE4MQ.png" alt="米立科技" style="width:100%;height:100%;" />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
          <ul class="nav navbar-nav" id="coll">
            <li><a href="/Index">&nbsp;&nbsp;首&nbsp;&nbsp;页&nbsp;&nbsp;</a></li>
            <li><a href="/Product" id="error">产品中心</a></li>
            <li><a href="/About">关于米立</a></li>
            <li><a href="/Contact">加入我们</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <li style="margin-left:5%;"><a id="dengle"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="shade" class="c1 hide"></div>
    <div id="modal" class="c2 hide">
      <div class="img1"><img src="http://image.milisx.com/1.jpg" /></div>
      <div class="img2">
        <div class="modal-header">
          <button type="button" class="close" onclick="Hide();"><span>×</span><span class="only">Close</span></button>
          <h4 class="modal-title" style="font-size: 18px;">登录</h4>
        </div>
        <div class="modal-body">
          <form id="login_form" action="" method="post" autocomplete="off">
            <ul>
              <li class="form-group"><input class="form-control" id="id_account_l" maxlength="50" name="account_l" placeholder="请输入邮箱账号/手机号" type="text"></li>
              <li class="form-group"><input class="form-control" id="id_password_l" name="password_l" placeholder="请输入密码" type="password"></li>
            </ul>
          </form>
          <p class="good-tips marginB10">
            <a id="btnForgetpsw" class="fra">忘记密码？</a>还没有账号？<a href="/register" target="_blank" id="btnRegister">立即注册</a>
          </p>
          <button id="login_btn" type="button" class="denglu">登录</button>
          <div class="threeLogin">
            <span>其他方式登录</span>
            <a class="nqq" href="javascript:;"></a>
            <a class="nwx" href="javascript:;"></a>
          </div>
        </div>
      </div>
    </div>
    <script>
      var dengle = document.getElementById('dengle');
      dengle.onclick = function () {
        document.getElementById('shade').classList.remove('hide');
        document.getElementById('modal').classList.remove('hide');
        document.getElementById('example-navbar-collapse').style.zIndex = '0';
      }
      function Hide() {
        document.getElementById('shade').classList.add('hide');
        document.getElementById('modal').classList.add('hide');
        document.getElementById('example-navbar-collapse').style.zIndex = '10';
      }
    </script>
    @*悬浮导航*@
    <div class="suspension">
      <div class="suspension-box">
        <a href="javascript:;" class="a a-service "><i class="i"></i></a>
        <a href="/About" class="a a-service-phone "><i class="i"></i></a>
        <a href="javascript:;" class="a a-qrcode"><i class="i"></i></a>
        <a href="javascript:;" class="a a-top"><i class="i"></i></a>
        <div class="d d-service">
          <i class="arrow"></i>
          <div class="inner-box">
            <div class="d-service-item clearfix">
              <a href="/Index" class="clearfix"><span class="circle"><i class="i-qq"></i></span><h3>咨询在线客服</h3></a>
            </div>
          </div>
        </div>
        <div class="d d-service-phone">
          <i class="arrow"></i>
          <div class="inner-box">
            <div class="d-service-item clearfix">
              <span class="circle"><i class="i-tel"></i></span>
              <div class="text">
                <p>服务热线</p>
                <p class="red number">17803565206</p>
              </div>
            </div>
            <div class="d-service-intro clearfix">
              <p><i></i>服务介绍</p>
              <p><i></i>合作代理</p>
              <p><i></i>关于我们</p>
            </div>
          </div>
        </div>
        <div class="d d-qrcode">
          <i class="arrow"></i>
          <div class="inner-box">
            <div class="qrcode-img"><img src="http://image.milisx.com/side_ewm.jpg" alt=""></div>
            <p>微信服务号</p>
          </div>
        </div>
      </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {

        /* ----- 侧边悬浮 ---- */
        $(document).on("mouseenter", ".suspension .a", function () {
          var _this = $(this);
          var s = $(".suspension");
          var isService = _this.hasClass("a-service");
          var isServicePhone = _this.hasClass("a-service-phone");
          var isQrcode = _this.hasClass("a-qrcode");
          if (isService) { s.find(".d-service").show().siblings(".d").hide(); }
          if (isServicePhone) { s.find(".d-service-phone").show().siblings(".d").hide(); }
          if (isQrcode) { s.find(".d-qrcode").show().siblings(".d").hide(); }
        });
        $(document).on("mouseleave", ".suspension, .suspension .a-top", function () {
          $(".suspension").find(".d").hide();
        });
        $(document).on("mouseenter", ".suspension .a-top", function () {
          $(".suspension").find(".d").hide();
        });
        $(document).on("click", ".suspension .a-top", function () {
          $("html,body").animate({ scrollTop: 0 });
        });
        $(window).scroll(function () {
          var st = $(document).scrollTop();
          var $top = $(".suspension .a-top");
          if (st > 400) {
            $top.css({ display: 'block' });
          } else {
            if ($top.is(":visible")) {
              $top.hide();
            }
          }
        });

      });
    </script>
    <script>
      $(document).ready(function () {
        $("#coll a").each(function () {
          $this = $(this);
          console.log($this[0].href == String(window.location))
          if ($this[0].href == String(window.location)) {
            $this.addClass("actv");
          }
        });
      })
      
    </script>
    <div class="container body-content " style="width:100%;margin:auto;border:0px solid #660066;background-color:#EEEEEE;
margin-bottom:0%;position: relative;z-index: 0;padding:0;" id="bodya">
      @RenderBody()
    </div>
    <footer class="dibu" id="dibua">
      <div class="footerContent">
        <div class="footerPadding">
          <dl class="padBottomList">
            <dt>关于米立</dt>
            <dd><a href="/Products/About/Introduction?c=About)">米立简介</a></dd>
            <dd><a asp-page="/About">关于我们</a></dd>
            <dd><a href="/Products/JoinUs/Job?c=About">工作机会</a></dd>
            <dd><a href="/Products/About/Cooperation?c=About#agency">合作代理</a></dd>
            <dd><a href="/Products/About/Pay?c=About#pay">支付方式</a></dd>
          </dl>
          <dl class="footerPadLeft padBottomList">
            <dt>产品中心</dt>
            <dd><a href="/Products#weiXinKaiFa">微信</a></dd>
            <dd><a href="/Products#html5">HTML5</a></dd>
            <dd><a href="/Products#companyCulture">企业信息化</a></dd>
            <dd><a href="/Products#bigDate">大数据</a></dd>
            <dd><a href="/Products/Course">米立课堂</a></dd>
          </dl>
          <dl class="footerPadLeft">
            <dt>服务网络</dt>
            <dd><a asp-page="/Product">公司新闻</a></dd>
            <dd><a asp-page="/Index">首页</a></dd>
            <dd><a href="/News?catalogGuid=54ab9a87-f97a-422d-9f76-4c6ed11524ea">手机版权</a></dd>
            <dd><a href="/News?catalogGuid=a7d2951e-5bf4-439c-b6f7-dcfadcef8d97">更新日志</a></dd>
            <dd><a href="/News?catalogGuid=55a7d02e-6ba6-46af-9b3d-50b530c81c5f">业内新闻</a></dd>
            <dd><a href="/News?catalogGuid=14d1becf-745b-4b0d-a101-41ca280339c1">优惠活动</a></dd>
          </dl>
          <dl class="last footerPadLeft">
            <dt>联系我们</dt>
            <dd><a asp-page="/Contact">我要咨询建议</a></dd>
            <dd><a href="http://www.miibeian.gov.cn/" target="_blank">晋ICP备19010399号-1</a></dd>
            <dd>
              @*<img style="width: 20px; height: 20px;" src="~/images/2.png" alt="备案标识">*@
              @*<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32050802010803" target="_blank" rel="nofollow noopener">晋公网安备 00000000000001 号 </a>*@
            </dd>
            <dd><a>©2019 - MLTechnology</a></dd>
            <dd style="width: 28%;">
              <span id="szgs_stat_icon_1024947667970555904">
                @*<a href="http://www.beian.suzhou.gov.cn/websiteMark?siteid=1024947667970555904&amp;type=1" target="_blank">
                    <img src="~/images/1.gif">
                  </a>*@
              </span>
            </dd>
          </dl>
        </div>
      </div>
    </footer>
  </div>
  <script>
    var bodya = document.getElementById('bodya');
      var dibua = document.getElementById('dibua');
      var btn = document.getElementById('btn');
      btn.onclick = function () {
        if (bodya.style.display == 'none') {
          bodya.style.display = 'block';
        } else {
          bodya.style.display = 'none';
        }
        if (dibua.style.display == 'none') {
          dibua.style.display = 'block';
        } else {
          dibua.style.display = 'none';
        }
      }
  </script>


  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("Scripts", required: false)
</body>
</html>
