# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/bin/Debug/netcoreapp2.1
/obj/*.*
/obj/Debug/netcoreapp2.1
/.vs/MLTechnology
/obj/Release/netcoreapp2.1
/.vs
/bin/*.*
/bin/Debug/netcoreapp3.1
/obj/Debug/netcoreapp3.1
