<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link  rel="stylesheet" href="~/css/Layout.css"/>
    <script type="text/javascript">
      window.onload = function () {
        document.onkeydown = function () {
          var e = window.event || arguments[0];
          //屏蔽F12
          if (e.keyCode == 123) {
            //alert('友情提醒您，本网站禁止审查元素');
            //return false;
            //屏蔽Ctrl+Shift+I
          } else if ((e.ctrlKey) && (e.shiftKey) && (e.keyCode == 73)) {
            //alert('友情提醒您，本网站禁止审查元素');
            //return false;
            //屏蔽Shift+F10
          } else if ((e.shiftKey) && (e.keyCode == 121)) {
            //alert('本网站禁止审查元素！');

            //return false;

          } else if (event.ctrlKey && window.event.keyCode == 83) {
            //alert('本网站禁止保存文件！');
            //return false;
          }
        };
        ////屏蔽右键单击
        document.oncontextmenu = function () {
          //alert('友情提醒您，本网站禁止审查元素');
          //return false;
        }
      }

  </script>
 </head>
<body>
  <div style="width:100%;margin:auto;border:0px solid blue;">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#example-navbar-collapse" id="btn">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="https://mltechnology.oss-cn-beijing.aliyuncs.com/official/website/98-mlkj/logox200.png" alt="米立科技" style="width:50px;height:50px;" /></a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
          <ul class="nav navbar-nav" id="coll">
            <li><a href="/Index">&nbsp;&nbsp;首&nbsp;&nbsp;页&nbsp;&nbsp;</a><span></span></li>
            <li><a href="/Product" id="error">产品中心</a></li>
            <li><a href="/construction">成功案例</a></li>
            <li><a href="/marketingNetwork">营销网络</a></li>
            <li><a href="/About">关于米立</a></li>
            <li><a href="/Contact">加入我们</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <li style="margin-left:5%;"><a id="dengle"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            <li>
              @*<select name="cars">
      <option value="volvo">中文</option>
      <option value="saab">English</option>
    </select>*@
              <button class="Chinese ChineseOne" id="Chinese" onclick="Chinese()">中文</button>
              <button class="English EnglishOne" id="English" onclick="English()">English</button>
              <script>
  function Chinese() {
    document.getElementById('English').classList.remove('ChineseOne');
    document.getElementById('Chinese').classList.remove('EnglishOne');
    document.getElementById('English').classList.add('EnglishOne') 
    document.getElementById('Chinese').classList.add('ChineseOne')
  }
  function English() {  
    document.getElementById('English').classList.remove('EnglishOne');
    document.getElementById('Chinese').classList.remove('ChineseOne');
    document.getElementById('English').classList.add('ChineseOne') 
    document.getElementById('Chinese').classList.add('EnglishOne')
  }
              </script>
            </li>       
          
          </ul>
          
        </div>
      </div>
    </nav>
    <div id="shade" class="c1 hide"></div>
    <div id="modal" class="c2 hide">
      <div class="img1"><img src="https://mltechnology.oss-cn-beijing.aliyuncs.com/official/website/98-mlkj/1.jpg" /></div>
      <div class="img2">
        <div class="modal-header">
          <button type="button" class="close" onclick="Hide();"><span>×</span><span class="only">Close</span></button>
          <h4 class="modal-title" style="font-size: 18px;">登录</h4>
        </div>
        <div class="modal-body">
          <form id="login_form" action="" method="post" autocomplete="off">
            <ul>
              <li class="form-group"><input class="form-control" id="id_account_l" maxlength="50" name="account_l" placeholder="请输入邮箱账号/手机号" type="text"></li>
              <li class="form-group"><input class="form-control" id="id_password_l" name="password_l" placeholder="请输入密码" type="password"></li>
            </ul>
          </form>
          <p class="good-tips marginB10">
            <a id="btnForgetpsw" class="fra">忘记密码？</a>还没有账号？<a href="/register" target="_blank" id="btnRegister">立即注册</a>
          </p>
          <button id="login_btn" type="button" class="denglu">登录</button>
          <div class="threeLogin">
            <span>其他方式登录</span>
            <a class="nqq" href="javascript:;"></a>
            <a class="nwx" href="javascript:;"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container body-content " style="width:100%;margin:auto;border:0px solid #660066;background-color:#EEEEEE;
margin-bottom:0%;position: relative;z-index: 0;padding:0;" id="bodya">
      @*悬浮导航*@
      <div class="suspension">
        <div class="suspension-box">
          <a href="javascript:;" class="a a-service " id="suspena"><i class="i"></i></a>
          <a href="javascript:;" class="a a-service-phone " id="suspenb"><i class="i"></i></a>
          <a href="javascript:;" class="a a-qrcode" id="suspenc"><i class="i"></i></a>
          <a href="javascript:;" class="a a-top"><i class="i"></i></a>
          <div class="d d-service" id="suspena1" style="display:none;">
            <i class="arrow"></i>
            <div class="inner-box">
              <div class="d-service-item clearfix">
                <a href="/construction" class="clearfix">
                <span class="circle">
                  <i class="i-qq"></i>
                </span>
                <h3>咨询在线客服</h3>
                <h2 class="h2a">QQ:365845726</h2>
                </a>
              </div>
            </div>
          </div>
          <div class="d d-service-phone" id="suspenb1" style="display:none;">
            <i class="arrow"></i>
            <div class="inner-box">
              <div class="d-service-item clearfix">
                <span class="circle"><i class="i-tel"></i></span>
                <div class="text">
                  <p>服务热线</p>
                  <p class="red number">17803565206</p>
                </div>
              </div>
              <div class="d-service-intro clearfix">
                <p id="hrefa"><i></i>服务介绍</p>
                <p id="hrefb"><i></i>合作代理</p>
                <p id="hrefc"><i></i>关于我们</p>
              </div>
            </div>
          </div>
          <div class="d d-qrcode" id="suspenc1" style="display:none;">
            <i class="arrow"></i>
            <div class="inner-box">
              <div class="qrcode-img"><img src="http://image.mlkj.milisx.com/qrcode_for_gh_sxmlkj.jpg" alt=""></div>
              <p>微信服务号</p>
            </div>
          </div>
        </div>
      </div>
      @RenderBody()
    </div>
    <footer class="dibu" id="dibua">
      <div class="footerContent">
        <div class="footerPadding">
          <dl class="padBottomList dda">
            <dt>关于米立</dt>
            <dd><a href="/About#guanyuwomen">米立简介</a></dd>
            <dd><a href="/About#guanyuwomenone">关于我们</a></dd>
            <dd><a href="/Contact">工作机会</a></dd>
            <dd><a href="/About#agency">合作代理</a></dd>
            <dd><a href="/About#pay">支付方式</a></dd>
          </dl>
          <dl class="footerPadLeft padBottomList ddb">
            <dt>产品中心</dt>
            <dd><a href="/construction">微信</a></dd>
            <dd><a href="/Product#html5">HTML5</a></dd>
            <dd><a href="/Product#miaodianb">企业信息化</a></dd>
            <dd><a href="/Product#miaodiana">大数据</a></dd>
            <dd><a href="/construction">米立课堂</a></dd>
          </dl>
          <dl class="footerPadLeft ddc">
            <dt>服务网络</dt>
            <dd><a asp-page="/Index">首页</a></dd>
            <dd><a asp-page="/construction">公司新闻</a></dd>
            <dd><a href="/construction">手机版权</a></dd>
            <dd><a href="/construction">更新日志</a></dd>
            <dd><a href="/construction">业内新闻</a></dd>
            <dd><a href="/construction">优惠活动</a></dd>
          </dl>
          <dl class="last footerPadLeft ddd">
            <dt>联系我们</dt>
            <dd><a href="/Index#contact">我要咨询建议</a></dd>
            <dd><a href="https://beian.miit.gov.cn/" target="_blank">晋ICP备19010399号-1</a></dd>
            @*<dd>
              <img style="width: 20px; height: 20px;" src="~/images/2.png" alt="备案标识">
              <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32050802010803" target="_blank" rel="nofollow noopener">晋公网安备 00000000000001 号 </a>
            </dd>*@
            <dd><a>©2017-2020  MLTechnology</a></dd>
            @*<dd style="width: 28%;">
              <span id="szgs_stat_icon_1024947667970555904">*@
            @*<a href="http://www.beian.suzhou.gov.cn/websiteMark?siteid=1024947667970555904&amp;type=1" target="_blank">
                <img src="~/images/1.gif">
              </a>*@
            @*</span>
              </dd>*@
          </dl>
        </div>
      </div>
    </footer>
  </div>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="~/js/_Layout.js"></script>
  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("Scripts", required: false)
</body>
</html>
