@page
@model MLTechnology.Pages.marketingNetworkModel
@{
  ViewData["Title"] = "marketingNetwork";
}



<link rel="stylesheet" href="~/css/css/swiper-4.3.5.min.css">
<link rel="stylesheet" href="~/css/css/common.css">
<link rel="stylesheet" href="~/css/css/style.css">
<link rel="stylesheet" href="~/css/css/layer.css" id="layuicss-layer">

<div id="contact">
  <div class="network">
    <div class="mains">
      <div class="container">
        <div class="map animated fadeIn ani-delay01">
          <div id="container" style="width: 100%; height: 800px; -webkit-tap-highlight-color: transparent; user-select: none;" _echarts_instance_="ec_1585875780861"><div style="position: relative; overflow: hidden; width: 572px; height: 330px; padding: 0px; margin: 0px; border-width: 0px; cursor: pointer;"><canvas data-zr-dom-id="zr_0" width="572" height="330" style="position: absolute; left: 0px; top: 0px; width: 572px; height: 330px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas><canvas data-zr-dom-id="zr_1" width="572" height="330" style="position: absolute; left: 0px; top: 0px; width: 572px; height: 330px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas><canvas data-zr-dom-id="zr_2" width="572" height="330" style="position: absolute; left: 0px; top: 0px; width: 572px; height: 330px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div></div>
          <img src="http://jgtec.com.cn/uploadfile/upfiles/201907241832315d3833bf9b9ee.jpg">
        </div>
        <div class="list-addr">
          <div class="item animated fadeInUp ani-delay02">
            <div class="title">
              <img src="/templates/default/images/50.png">
              <span>米立科技业务部</span>
            </div>
            <div class="ps">
              <p class="addr">地址：山西省晋城高平市太洛路144号3楼</p>						
              <p class="half">电话：17803565206</p>							
              <p class="half">传真：*********</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="~/map.js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/map.js/echarts.min.js"></script>
<script type="text/javascript" src="~/map.js/dataTool.min.js"></script>
<script type="text/javascript" src="~/map.js/bmap.min.js"></script>
<script type="text/javascript" src="~/map.js/china.js"></script>
<script type="text/javascript" src="~/map.js/world.js"></script>
<script type="text/javascript" src="~/map.js/net-map.js"></script>