p {
  font-size: 14px;
  margin: 1px 0 10px 0;
  color: #515050;
  line-height: 20px;
  letter-spacing: 1px;
}
p, h3, h4, h2, dd {
  margin: 0 !important;
}
img {
  width:100%;height:100%;
}
.aboutbg {
  background: url(http://image.milisx.com/3.1.jpg) no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 100%;
}
.classPos {
  position: absolute;
  top: 170px;
  left: 25%;
}

  .classPos > h2 {
    font-size: 46px;
    font-weight: 500;
    font-family: MicrosoftYaHei;
    color: rgba(255,254,254,1);
    line-height: 60px;
    padding-bottom: 15px;
    margin: 0;
  }

  .classPos > span {
    font-size: 20px;
    color: #DBDBDB;
  }

  .classPos > p {
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: rgba(240,237,237,1);
    line-height: 60px;
  }
/*内容*/
.classContent {
  width: 70%;
  margin: auto;
  border: 0px solid;
  margin-bottom: 34px;
}
/*内容1*/
.classTop {
  margin:0;
  margin-top: 24px;
  overflow: hidden;
}
.classLeft {
  width: 50%;
  height: 388px;
  padding: 100px;
  background: #F7F7F7;
}
  .classLeft .red {
    color: #C4152F;
  }
.fl {
  float: left;
}
.classLeft h1 {
  font-size: 44px;
  line-height: 70px;
  font-weight: bold;
  color: black;
}
.classLeft p {
  line-height: 27px;
}

.font20 {
  font-size: 20px;
}
.classRight {
  background: #fff;
  width: 50%;
  height: 388px;
  padding: 47px 80px;
}
  .classRight > h2 {
    font-size: 24px;
    font-family: HiraginoSansGB-W3;
    color:black;
    font-weight: 500;
    margin: 5px 0;
  }
.classRight > p {
  line-height: 24px;

}
/*内容2*/
.aboutContentbg {
  background: url(http://image.milisx.com/3.2.jpg) no-repeat center center;
  background-size: 100% 100%;
  height: 500px;
  position: relative;
  margin-top: 26px;
}
.classContentPos {
  position: absolute;
  top: 121px;
  left: 100px;
  color: #FFFFFF;
}
  .classContentPos > h3 {
    font-size: 24px;
    font-family: HiraginoSansGB-W3;
    font-weight: 500;
    margin:5px 0;
  }
  .classContentPos > p {
    font-size: 15px;
    font-family: HiraginoSansGB-W3;
    color: rgba(215,215,215,1);
    line-height: 26px;
  }
/*内容3*/
.technologyInfo {
  margin-top: 25px;
}
.technologyCenter {
  background: url(http://image.milisx.com/3.3.jpg) no-repeat center center;
  background-size: 100% 100%;
  height: 500px;
}
.technologyText {
  text-align: center;
  padding-top: 93px;
  color: #fff;
}
  .technologyText > h2 {
    font-size: 30px;
    margin:0;
  }
.font18 {
  font-size: 18px;
}
.technologyText > p {
  font-size: 17px;
  color: #fff;
}
.overFlow {
  overflow: hidden;
  margin:0;
}
.combannerText {
  width: 50%;
  height: 510px;
  padding: 40px;
  background: #fff;
}
.bgGray {
  background: #F7F7F7;
}
.combannerText > h3 {
  line-height: 28px;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: black;
}
.textLight {
  line-height: 30px;
}
.combannerText > p {
  line-height: 26px;
  letter-spacing: 1px;
  font-size: 15px;
}
/*内容4*/
.produceIntoduce {
  margin-top: 24px;
  overflow: hidden;
}
.aboutMeImg {
  width: 56%;
  height: 478px;
}
.IntroduceTextInfo {
  width: 44%;
  height: 478px;
  background: #ffffff;
  color: #000;
  padding: 50px;
  color: #101010;
}
  .IntroduceTextInfo > h3 {
    font-size: 22px;
    font-family: HiraginoSansGB-W3;
    line-height: 30px;
    font-weight: 500;
    padding-top: 40px;
  }
  .IntroduceTextInfo > span {
    display: inline-block;
    line-height: 30px;
  }
  .IntroduceTextInfo > p {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 1px;
  }
/*内容5*/
.selfIntoduce {
  margin-top: 24px;
  overflow: hidden;
}
.aboutMeImg {
  width: 56%;
  height: 478px;
}

.fr {
  float: right;
}
.aboutMeIntroduce {
  width: 44%;
  height: 478px;
  background: #434343;
  color: #FFFFFF;
  padding: 50px;
}
.font22 {
  font-size: 22px;
}
.aboutMeIntroduce > span {
  display: inline-block;
  line-height: 30px;
}
.aboutMeIntroduce > p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #fff !important;
}
/*内容6*/
.payWay {
  padding: 20px 50px;
  background: #fff;
}
  .payWay > h3 {
    font-weight: 500;
    padding: 24px 0;
    color:black;
    font-size:19px;
  }
.payPad {
  background: #F5F5F5;
  padding: 24px;
  margin-top: 20px;
}
  .payPad > h3 {
    padding-bottom: 28px;
    font-weight: 500;
    font-size: 20px;
    color:black;
  }
  .payPad > p {
    padding-bottom: 15px;
    font-size: 16px;
  }
table {
  width: 50%;
  border: 0;
}
  table th {
    text-align: left;
    color: #515050;
    font-weight: initial;
    padding: 8px;
    font-size:16px;
    background-color: #F5F5F5;
  }
@media screen and (max-width: 1024px) {
  .aboutbg {
    height: 420px;
  }
  .classPos {
    top: 90px;
    left: 21%;
  }
  .classPos > h2 {
    font-size: 32px;
    padding-bottom: 0;
  }
  .classPos > p {
    font-size: 20px;
    line-height: 45px;
  }
  .classContent {
    width: 80%;
  }
  .classRight {
    padding: 29px;
  }
  .classRight > p {
    font-size: 12px;
  }
  .aboutContentbg {
    height: 400px;
  }
  .technologyCenter {
    height: 400px;
  }
  .technologyText {
    padding-top: 58px;
    width: 90%;
    margin: auto;
  }
  .technologyText > p {
    line-height: 28px;
  }
  .combannerText > p {
    font-size: 13px;
  }
  .aboutMeImg {
    height: 378px;
  }
  .IntroduceTextInfo {
    height: 378px;
    padding: 40px;
  }
  .IntroduceTextInfo > h3 {
    padding-top: 16px;
  }
  .aboutMeIntroduce {
    height: 378px;
    padding: 20px;
  }
  .aboutMeIntroduce > p {
    font-size: 12px;
    line-height: 21px;
  }
  .payWay > h3 {
    padding: 5px 0;
  }
}
@media screen and (max-width: 768px) {
  .aboutbg {
    height: 350px;
  }
  .classPos {
    top: 70px;
    left: 20%;
  }
  .classPos > h2 {
    font-size: 30px;
  }
  .classPos > p {
    font-size: 18px;
    line-height: 36px;
  }
  .classContent {
    width: 90%;
  }
  .classLeft {
    padding: 74px;
  }
  .classRight > p {
    line-height: 19px;
  }
  .aboutContentbg {
    height: 350px;
  }
  .classContentPos {
    left: 74px;
  }
  .technologyCenter {
    height: 350px;
  }
  .technologyText {
    padding-top: 45px;
  }
  .combannerText > p {
    font-size: 12px;
    line-height: 24px;
  }
  .combannerText {
    padding: 34px;
  }
  .combannerText > h3 {
    font-size: 20px;
  }
  .aboutMeImg {
    height: 300px;
  }
  .IntroduceTextInfo {
    height: 300px;
    padding: 20px;
  }
  .IntroduceTextInfo > h3 {
    padding-top: 0;
    font-size: 20px;
  }
  .IntroduceTextInfo > p {
    font-size: 13px;
    line-height: 22px;
  }
  .aboutMeIntroduce {
    height: 300px;
    padding: 20px;
  }
  .aboutMeIntroduce > .logya {
    display:none;
  }
  .aboutMeIntroduce > p {
    line-height: 24px;
  }
  .payWay > h3 {
    font-size: 17px;
  }
  .payPad > h3 {
    font-size: 14px;
  }
  .payPad > p {
    font-size: 13px;
  }
  table th {
    font-size: 13px;
  }
  .classRight > h2 {
    font-size: 21px;
  }
  .font22 {
    font-size: 20px;
  }
}
@media screen and (max-width:414px) {
  .aboutbg {
    height: 200px;
  }
  .classPos {
    top: 40px;
    left: 10%;
    width: 80%;
  }
  .classPos > h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .classPos > p {
    font-size: 14px;
    line-height: 24px;
  }
  .classContent {
    width: 98%;
    margin-bottom: 15px;
  }
  .classTop {
    margin-top: 14px;
  }
  .classLeft {
    padding: 0;
    width: 100%;
    height: 165px;
  }
  .classLeft h1 {
    font-size: 40px;
    line-height: 70px;
    padding-left: 120px;
  }
  .font20 {
    font-size: 18px;
    padding-left: 25px;
  }
  .classRight {
    padding: 25px;
    width: 100%;
    height: 320px;
  }
  .classRight > h2 {
    font-size: 20px;
  }
  .aboutContentbg {
    height: 200px;
    margin-top: 14px;
  }
  .classContentPos {
    left: 25px;
    width: 80%;
    top: 50px;
  }
  .classContentPos > h3 {
    font-size: 20px;
  }
  .classContentPos > p {
    font-size: 12px;
    line-height: 24px;
  }
  .technologyInfo {
    margin-top: 14px;
  }
  .technologyCenter {
    height: 200px;
  }
  .technologyText {
    padding-top: 16px;
    width: 93%;
    margin: 0;
    padding-left: 25px;
  }
  .technologyText > h2 {
    font-size: 20px;
  }
  .technologyText > p {
    line-height: 21px;
    font-size: 12px;
  }
  .combannerText {
    padding: 25px;
    overflow: auto;
    height: 260px;
  }
  .combannerText > h3 {
    font-size: 16px;
    line-height: 18px;
  }
  .combannerText > p {
    font-size: 12px;
    line-height: 19px;
  }
  .produceIntoduce {
    margin-top: 14px;
  }
  .aboutMeImg {
    width: 100%;
    height: 240px;
  }
  .IntroduceTextInfo {
    height: 200px;
    padding: 25px;
    width: 100%;
    padding-top: 20px;
  }
  .IntroduceTextInfo > h3 {
    padding-top: 0;
    font-size: 18px;
    line-height: 20px;
  }
  .IntroduceTextInfo > p {
    font-size: 12px;
    line-height: 19px;
  }
  .selfIntoduce {
    margin-top: 14px;
  }
  .aboutMeIntroduce {
    height: 200px;
    width: 100%;
    padding: 25px;
    padding-top: 18px;
  }
  .font22 {
    font-size: 18px;
  }
  .aboutMeIntroduce > p {
    line-height: 21px;
  }
  .payWay {
    padding: 20px 25px;
  }
  .payPad {
    padding: 16px;
    margin-top: 14px;
  }
  .payPad > p {
    font-size: 12px;
  }
  .payPad > h3 {
    font-size: 14px;
    padding-bottom: 14px;
  }
  table th {
    font-size: 12px;
    padding-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .classPos > p {
    font-size: 12px;
    line-height: 24px;
  }
  .classLeft h1 {
    font-size: 36px;
    line-height: 70px;
    padding-left: 115px;
  }
  .font20 {
    font-size: 16px;
    padding-left: 25px;
  }
  .classRight {
    padding-top: 20px;
  }
  .classRight > h2 {
    font-size: 16px;
  }
  .classContentPos {
    width: 82%;
  }
  .classContentPos > h3 {
    font-size: 16px;
  }
  .technologyText > h2 {
    font-size: 16px;
  }
  .combannerText > h3 {
    font-size: 14px;
    line-height: 18px;
  }
  .IntroduceTextInfo > h3 {
    font-size: 16px;
  }
  .aboutMeIntroduce > p {
    line-height: 17px;
  }
  .font22 {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .classPos {
    top: 40px;
    left: 6%;
    width: 90%;
  }
  .classPos > h2 {
    font-size: 16px;
  }
  .classLeft {
    height: 143px;
  }
  .classLeft h1 {
    font-size: 30px;
    line-height: 55px;
    padding-left: 95px;
  }
  .font20 {
    font-size: 13px;
    padding-left: 23px;
  }
  .classRight > p {
    line-height: 17px;
  }
  .classContentPos > p {
    line-height: 20px;
  }
  .aboutMeIntroduce {
    padding-top: 10px;
  }
}