




.span {
  position: absolute;
  bottom: -10px;
  right: -33%;
  padding: 0px 6px;
  text-align: center;
  font-size: 12px;
  color: black;
  background-color: wheat;
}

.img-responsive {
  width: 100%;
}

.guanyu {
    width: 60%;
    height: 68px;
    position: relative;
    border-bottom: 1px solid;
   margin:auto;
    margin-top: 23px;
    border:0px solid;
}

.guanyu1 {
    width: 10%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #E65842;
    font-weight: bold;
    margin-top:1%;
}

.guanyu2 {
    top: 11px;
    left: 110px;
    font-size: 18px;
    color: grey;
    font-weight: bold;
    float:left;
    margin-left:9%;
    margin-top:-39px;
}
.tpw {
    border: 0px solid;
    width: 60%;
    height: 330px;
   margin:auto;
    margin-top: 5px;
}

.wz {
    width: 44%;
    height: 318px;
    float: left;
    border: 0px solid;
    margin-top: 10px;
    margin-left:1%;
}

.wz1 {
    text-indent: 2em;
    margin-top: 5px;
    font-size: 13px;
    color: grey;
    line-height: 22px;
}

.wz2 {
    margin-top: 55px;
    line-height: 75px;
    display: inline-block;
    font-size: 16px;
}

.tupian {
    width: 50%;
    height: 307px;
    float: left;
    border: 0px solid;
    margin-top: 1%;
    margin-left:4%;
}
