

.joinUsbg {
  background: url(../images/4.1.jpg) no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 100%;
}
.classPos {
  position: absolute;
  top: 254px;
  left: 26%;
}
  .classPos > h2 {
    font-size: 46px;
    font-weight: 500;
    font-family: MicrosoftYaHei;
    color: rgba(255,254,254,1);
    line-height: 60px;
    padding-bottom: 15px;
  }
  .classPos > span {
    font-size: 20px;
    color: #DBDBDB;
  }
  .classPos > p {
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: rgba(240,237,237,1);
    line-height: 60px;
  }
  /*内容*/
.classContent {
  width: 70%;
  margin: auto;
  border: 0px solid;
  margin-bottom: 34px;
}
.workInfo {
  margin-top: 24px;
}

.overFlow {
  overflow: hidden;
}
.workInfoLeft {
  width: 50%;
  height: 768px;
  background: rgba(255,255,255,1);
  padding: 50px;
}
.workName {
  font-weight: 500;
  padding-bottom: 20px;
  font-size: 24px;
  color: black;
  border-bottom: 1px solid #E5E5E5;
}
.workDescription {
  padding-top: 38px;
  font-weight: 500;
  font-size: 19px;
  color: black;
}
.workInfoLeft > p {
  padding-top: 23px;
  line-height: 25px;
}
.edcationInfo {
  /* padding-top: 45px; */
  padding-top: 67px;
  font-weight: 500;
  font-size: 19px;
  color: black;
}
.workInfoRight {
  width: 50%;
  height: 768px;
  background: rgba(249,249,249,1);
  padding: 50px;
}
  .workInfoRight > p {
    padding-top: 23px;
    line-height: 25px;
  }
.workProperty {
  padding-top: 118px;
  font-weight: 500;
  color: black;
  font-size: 19px;
}
.fl {
  float: left;
}
.explainInfo {
  background: #fff;
  margin-top: 24px;
  padding: 30px;
}
.font14 {
  font-size: 14px;
}
.explainInfo > p {
  line-height: 30px;
}
p {
  font-size: 14px;
  color: #515050;
  line-height: 20px;
  letter-spacing: 1px;
}
h2, h3 {
  margin:0;
}