.actv {
  color: #EE0A0A;
  border-bottom: 2px solid #EE0A0A;
}
.produceBanner {
  background: url(../images/2.1.jpg) no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 100%;
}
.comPosition {
  position: absolute;
  top: 254px;
  left: 26%;
  color: #FFFEFE;
}
  .comPosition > h2 {
    font-size: 38px;
    padding-bottom: 15px;
    font-weight: 500;
    line-height: 60px;
    margin:0;
  }
  .comPosition > p {
    color: #F0EDED;
    color: #F0EDED;
    line-height: 30px;
    font-size: 20px;
    margin: 5px 0;
  }
.font18 {
  font-size: 18px;
}

.produceIntoduce {
  margin-top: 24px;
  width: 70%;
  margin: auto;
  border: 0px solid;
  margin-bottom: 34px;
}
p {
  font-size: 14px;
  margin: 1px 0 10px 0;
  color: #515050;
  line-height: 20px;
  letter-spacing: 1px;
}
/*内容1*/
.containerCenter {
  background: url(../images/2.2.jpg) no-repeat;
  background-size: 100% 100%;
  height: 375px;
  margin-top: 24px;
  overflow: hidden;
}
.bannerCenter {
  position: relative;
  top: 70px;
  left: 50px;
  color: #FFFEFE;
}
  .bannerCenter > h2 {
    line-height: 60px;
    margin:0;
  }

.font22 {
  font-size: 22px;
  font-weight: 600;
}
.bannerCenter > span {
  padding-bottom: 10px;
  display: inline-block;
}
.bannerCenter > p {
  line-height: 26px;
  color: #fff !important;
}

.font15 {
  font-size: 15px;
}
/*内容2*/
.overFlow {
  overflow: hidden;
  margin:0;
}
.combannerText {
  width: 50%;
  height: 450px;
  padding: 50px;
  background: #fff;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.bgGray {
  background: #F7F7F7;
}
.combannerText .titleLogo {
  display: inline-block;
  padding-bottom: 40px;
}

.titleLogoTop {
  padding-top: 5px;
}
.combannerText > h3 {
  line-height: 30px;
  font-size: 24px;
  font-weight: 500;
  margin:0;
}
.textLight {
  line-height: 30px;
}
.combannerText > p {
  line-height: 26px;
  letter-spacing: 1px;
  font-size: 15px;
  margin:0;
}
.logoTop {
  padding-top: 20px;
}
/*内容3*/
.companyDemand {
  background: url(../images/2.3.jpg) no-repeat;
  background-size: 100% 100%;
  height: 450px;
  margin-top: 24px;
  border: 1px solid;
}
  .companyDemand > h2 {
    line-height: 50px;
    text-align: center;
    padding-top: 60px;
    color: #FEFEFE;
    font-weight: 500;
    margin:0;
  }
  .companyDemand > p {
    text-align: center;
    color: #FEFEFE;
    line-height: 30px;
  }
.companyDemandCenter {
  padding-top: 60px;
  width: 800px;
  margin: 0 auto;
}
.titleImg {
  padding: 10px;
  margin-right: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}
  .titleImg:hover {
    transform: scale(1.2);
  }
.titleText {
  padding-top: 16px;
}
  .titleText > p {
    color: #fff;
    padding-bottom: 6px;
    margin:0;
  }
.font14 {
  font-size: 14px;
}
/*内容4*/
.serviceCenter {
  background: url(../images/2.4.jpg) no-repeat center center;
  background-size: 100% 100%;
  height: 375px;
  margin-top:24px;
}
/*内容5*/
.titleLogoImg {
  display: inline-block;
  padding-bottom: 40px;
}
/*内容6*/
.comProduceBanner {
  background: url(../images/2.5.jpg) no-repeat center center;
  background-size: 100% 100%;
  height: 375px;
  margin-top: 24px;
}
