/*大图*/
.topimg {
  height: 600px;
  width: 100%;
}
.swiper-container {
  height:100%;
  width:100%;
}
.topimg img {
  width:100%;
  height:100%;
}
.topsize {
  z-index: 10;
  position: absolute;
  top: 170px;
  left: 25%;
  font-family: MicrosoftYaHei;
  font-size: 36px;
  letter-spacing: 2px;
  color: #FFFFF3;
}
.clear {
  clear: both;
  font-size: 36px;
  padding-bottom: 15px;
}
.psize {
  font-size: 24px;
  color: #FFFFF3;
}
/*内容*/
.content {
  width: 70%;
  margin: auto;
  border: 0px solid;
}
  .content img {
    height:100%;
    width:100%;
  }
  /*内容1*/
  .aboutMe {
    margin-top: 24px;
    overflow: hidden;
  }
.aboutMeImg {
  width: 58%;
  height: 478px;
  opacity: 0.8;
}
.aboutMeIntroduce {
  width: 42%;
  background: #434343;
  color: #FFFFFF;
  padding: 50px;
  height: 478px;
}
.fl {
  float: left;
}
.mep {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #fff !important;
}
.mespan {
  display: inline-block;
  line-height: 30px;
}
.mea {
  display: inline-block;
  border: 1px solid #fff;
  padding: 13px 18px 12px 18px;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.whiteBtn {
  padding-left: 73px;
}
  .whiteBtn img {
    width:9%;
  }
  /*内容2*/
.serviceIntoduce {
  background: #fff;
  padding: 30px 30px 70px 30px;
  margin-top: 24px;
  overflow: hidden;
}
  .serviceIntoduce > h3 {
    font-size: 24px;
    font-family: HiraginoSansGB-W3;
    color: rgba(16,16,16,1);
    line-height: 60px;
    font-family: 500;
    font-weight: 500;
  }
  .serviceIntoduce > p {
    font-size: 18px;
    font-family: HiraginoSansGB-W3;
    color: rgba(124,124,124,1);
    line-height: 20px;
  }
.intoduceInfo {
  width: 49%;
  border: 1px solid #E5E5E5;
  margin-top: 15px;
  height: 631px;
}
.intouceImg {
  /* width: 45%; */
  margin-bottom: 20px;
  height: 401px;
  overflow: hidden;
  cursor:pointer;
}
  .intouceImg img {
    transition: all 0.3s ease;
  }
  .intouceImg img:hover {
    transform: scale(1.2);
  }
  .fr {
    float: right;
  }
.intoduceInfo > a {
  text-decoration: none;
}
.intouceTitle {
  padding: 0 30px;
}
  .intouceTitle > h4 {
    font-size: 20px;
    font-family: HiraginoSansGB-W3;
    color: rgba(16,16,16,1);
    line-height: 26px;
    font-weight: 500;
  }
  .intouceTitle > p {
    font-size: 15px;
    color: rgba(107,107,107,1);
    line-height: 30px;
    height:86px;
    overflow: hidden;
    display: -webkit-box;
  }
.intouceMore {
  border-top: 1px solid #E5E5E5;
  margin: 30px 30px 10px 30px;
  padding: 15px 0;
}
  .intouceMore > span {
    color: #C4152F;
  }
.font15 {
  font-size: 15px;
}
/*内容3*/
.selfIntoduce {
  margin-top: 24px;
  overflow: hidden;
}
.font22 {
  font-size: 22px;
}
/*内容4*/
.produceIntoduce {
  margin-top: 24px;
}
.IntroduceTextInfo {
  width: 42%;
  height: 478px;
  background: #ffffff;
  color: #000;
  padding: 50px;
  color: #101010;
}
  .IntroduceTextInfo > h3 {
    font-size: 22px;
    font-family: HiraginoSansGB-W3;
    line-height: 30px;
    font-weight: 500;
    padding-top: 20px;
  }
  .IntroduceTextInfo > span {
    display: inline-block;
    line-height: 30px;
  }
  .IntroduceTextInfo > p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .IntroduceTextInfo > a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 13px 18px 12px 18px;
    margin-top: 30px;
    border: 1px solid #C4152F;
    color: #C4152F;
    text-decoration: none;
    font-size: 16px;
  }
  /*内容5*/
.brandInfo {
   padding: 0; 
  background: #F7F7F7;
}
  .brandInfo > h3 {
    font-size: 24px;
    font-family: HiraginoSansGB-W3;
    color: rgba(16,16,16,1);
    font-weight: 500;
    padding-top: 53px;
    padding-left: 40px;
    margin:0;
  }
  .brandInfo > p {
    font-size: 18px;
    font-family: HiraginoSansGB-W3;
    color: rgba(124,124,124,1);
    line-height: 46px;
    padding-left: 40px;
  }
.LogoInfo {
  padding: 24px 40px;
}
table {
  width: 100%;
}
.LogoInfo > table > tbody > tr > td {
  /* margin-right: 20px; */
  width: 16.6%;
  padding: 15px;
  display: inline-block;
}
/*内容6*/
.contentFooter {
  background: #fff;
  overflow: hidden;
  padding: 0 48px;
  margin-bottom: 34px;
}
  .contentFooter > dl > dt {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
  }
  .contentFooter > h3 {
    font-size: 24px;
    font-family: HiraginoSansGB-W3;
    color: rgba(16,16,16,1);
    font-weight: 500;
    padding-top: 40px;
    margin:0;
  }
  .contentFooter > dl {
    width: 31%;
  }
.footerLeft {
  padding-right: 20px;
}
  .footerLeft > dd {
    font-size: 14px;
    font-family: HiraginoSansGB-W3;
    color: rgba(99,99,99,1);
    line-height: 30px;
  }
.font18 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding-top: 20px;
}
.footerpad {
  padding-top: 20px;
}
.map > img {
  padding-left: 10px;
  width: 7%;
  position: relative;
  margin-top: -12px;
}
.mapa img{
  width:10%;
}
.footerpad>.padimg {
  width: 30%;
}

.shadeone {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
}

.modalone {
  background-color: white;
  position: fixed;
  width: 98%;
  height: 300px;
  top: 50%;
  left: 49%;
  z-index: 13;
  margin-top: -150px;
  margin-left: -200px;
  overflow: hidden;
}

.guanyuone {
  width: 100%;
  height: 100%;
  background-color: darkgray;
  color: white;
  font-size: 16px;
  padding: 30px;
  font-weight: 600;
  padding-top: 5px;
}

.lonea {
  position: relative;
  margin: 0px 96%;
  margin-right: 0;
  font-size: 28px;
  cursor: pointer;
}

.loneaa {
  margin-top: 22px;
}

.nonea {
  display: none;
}
  

@media screen and (max-width: 1024px) {
  .topimg {
    height: 420px;
  }
  .topsize {
    top: 90px;
    left: 21%;
  }
  .clear {
    font-size: 32px;
  }
  .psize {
    font-size: 20px;
  }
  .content {
    width: 80%;
  }
  .aboutMeImg {
    height: 400px;
  }
  .aboutMeIntroduce {
    padding: 28px;
    height: 400px;
  }
  h3, .h3 {
    font-size: 22px;
    margin: 0;
  }
  .mep {
    font-size: 13px;
  }
  .serviceIntoduce {
    padding: 30px 30px 50px 30px;
  }
  .serviceIntoduce > h3 {
    font-size: 22px;
  }
  .serviceIntoduce > p {
    font-size: 16px;
    margin: 0;
  }
  .intoduceInfo {
    height: 500px;
  }
  .intouceImg {
    height: 276px;
  }
  .intouceTitle > h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .intouceTitle > p {
    font-size: 13px;
    line-height: 23px;
  }
  .font14 {
    line-height: 31px;
  }
  .font22 {
    font-size:20px;
  }
  .IntroduceTextInfo {
    height: 400px;
  }
  .brandInfo > h3 {
    font-size: 22px;
  }
  .brandInfo > p {
    font-size: 16px;
    margin: 0;
  }
  .LogoInfo > table > tbody > tr > td {
    padding: 5px;
  }
  .contentFooter > h3 {
    font-size: 22px;
  }
  .contentFooter > dl {
    width: 32%;
  }
  .font18 {
    font-size: 16px;
  }
  .footerLeft > dd {
    font-size: 13px;
  }
  .map > img {
    width: 10%;
  }
  .footerpad > .padimg {
    width: 40%;
  }
  .mapa img {
    width: 15%;
  }
}
@media screen and (max-width: 768px) {
  .topimg {
    height: 350px;
  }
  .clear {
    font-size: 30px;
  }
  .psize {
    font-size: 18px;
  }
  .content {
    width: 90%;
  }
  .aboutMeImg {
    height: 300px;
  }
  .aboutMeIntroduce {
    padding: 28px;
    height: 300px;
  }
  h3, .h3 {
    font-size: 20px;
  }
  .mep {
    font-size: 12px;
    height: 106px;
    overflow: hidden;
  }
  .dspy {
    display:none;
  }
  .serviceIntoduce > h3 {
    font-size: 20px;
  }
  .serviceIntoduce > p {
    font-size: 14px;
  }
  .font15 {
    font-size: 14px;
  }
  .intouceMore {
    margin: 18px 30px 10px 30px;
  }
  .intoduceInfo {
    height: 453px;
  }
  .intouceImg {
    height: 210px;
  }
  .intouceTitle > h4 {
    font-size: 16px;
    line-height: 18px;
  }
  .intouceTitle > p {
    font-size: 12px;
    line-height: 28px;
    height: 131px;
  }
  .aboutMeIntroduce {
    padding: 28px;
    height: 300px;
  }
  .font22 {
    font-size: 16px;
  }
  .font16 {
    font-size: 12px;
  }
  .font14 {
    line-height: 25px;
    height: 78px;
    overflow: auto;
    font-size: 12px;
    margin: 0;
  }
  .mea {
    margin-top: 16px;
    font-size: 14px;
  }
  .IntroduceTextInfo {
    height: 300px;
    padding: 26px;
  }
  .IntroduceTextInfo > h3 {
    font-size: 18px;
    padding:0;
  }
  .IntroduceTextInfo > p {
    font-size: 12px;
  }
  .IntroduceTextInfo > a {
    margin-top: 20px;
    font-size: 14px;
  }
  .brandInfo > h3 {
    font-size: 20px;
    padding-top: 40px;
  }
  .brandInfo > p {
    font-size: 14px;
  }
  .LogoInfo {
    padding: 14px 20px;
  }
  .contentFooter > h3 {
    font-size: 20px;
    padding-top: 26px;
  }
  .contentFooter > dl {
    width: 33%;
  }
  .contentFooter > dl > dt {
    padding-bottom: 14px;
  }
  .font18 {
    font-size: 14px;
    padding-top: 20px;
  }
  .footerLeft > dd {
    font-size: 12px;
    line-height: 26px;
  }
  .footerpad {
    padding-top: 10px;
  }
  .map > img {
    width: 12%;
  }
  .footerpad > .padimg {
    width: 50%;
  }
  .mapa img {
    width: 20%;
  }
}
@media screen and (max-device-width: 736px) {
  .topimg {
    height: 308px;
  }

  .font22 {
    font-size: 16px;
    margin-top: 0;
  }

  .topsize {
    top: 90px;
    left: 18%;
  }

  .modalone {
    background-color: white;
    position: fixed;
    width: 70%;
    height: 300px;
    top: 54%;
    left: 42%;
    z-index: 13;
    margin-top: -150px;
    margin-left: -200px;
    overflow: hidden;
  }
}
@media screen and (max-device-width: 667px) {
  .topimg {
    height: 270px;
  }

  .topsize {
    top: 72px;
    left: 15%;
  }

  .aboutMe {
    margin-top: 8px;
  }

  .aboutMeIntroduce {
    padding: 28px 18px;
    height: 300px;
  }

  .IntroduceTextInfo {
    height: 300px;
    padding: 26px 20px;
  }

  .modalone {
    left: 45%;
    height: 262px;
  }

  .guanyuone {
    font-size: 15px;
  }
}
@media screen and (max-device-width: 568px) {
  .topimg {
    height: 210px;
  }

  .topsize {
    top: 42px;
    left: 8%;
  }

  .whiteBtn {
    padding-left: 68px;
  }

  .aboutMeIntroduce {
    padding: 28px 18px;
    height: 275px;
    padding-top: 22px;
  }

  .aboutMeImg {
    height: 275px;
  }

  .intouceTitle {
    padding: 0 7px;
  }

  .intouceMore {
    margin: 18px 10px 10px 8px;
  }

  .intouceImg {
    height: 152px;
  }

  .intoduceInfo {
    height: 396px;
  }

  .IntroduceTextInfo {
    height: 300px;
    padding: 12px 12px;
  }

  .aspab {
    display: none;
  }

  .font14 {
    line-height: 25px;
    height: 44px;
    overflow: hidden;
    font-size: 12px;
    margin: 0;
  }

  .IntroduceTextInfo > a {
    margin-top: 3px;
    font-size: 14px;
  }

  .modalone {
    left: 50%;
    height: 262px;
  }

  .guanyuone {
    font-size: 14px;
  }

  .guanyuone {
    font-size: 15px;
  }
}
@media screen and (max-width: 414px) {
  .topimg {
    height: 200px;
  }

  .topsize {
    top: 35px;
    left: 13%;
  }

  .clear {
    font-size: 18px;
  }

  .psize {
    font-size: 12px;
  }

  .content {
    width: 98%;
  }

  .aboutMe {
    margin-top: 12px;
  }

  .aboutMeImg {
    height: 200px;
    width: 50%;
  }

  .aboutMeIntroduce {
    padding: 10px;
    height: 200px;
    width: 50%;
  }

  h3, .h3 {
    font-size: 16px;
    padding-top: 9px;
  }

  .mespan {
    line-height: 25px;
  }

  .mep {
    height: 68px;
  }

  .mea {
    margin-top: 5px;
    font-size: 14px;
    padding: 8px;
  }

  .serviceIntoduce {
    padding: 15px;
    margin-top: 14px;
  }

    .serviceIntoduce > h3 {
      font-size: 16px;
      line-height: 15px;
    }

    .serviceIntoduce > p {
      font-size: 12px;
      line-height: 44px;
    }

  .intoduceInfo {
    height: 330px;
    width: 100%;
  }

  .intouceImg {
    height: 180px;
    margin-bottom: 10px;
  }

  .intouceTitle {
    padding: 0 8px;
  }

    .intouceTitle > p {
      font-size: 12px;
      line-height: 24px;
      height: 67px;
    }

  .intouceMore {
    margin: 10px;
    padding: 10px 0;
  }

  .font15 {
    font-size: 12px;
  }

  .intouceTitle > h4 {
    font-size: 14px;
    line-height: 8px;
  }

  .font16 {
    font-size: 12px;
    margin: 0;
  }

  .font14 {
    line-height: 26px;
    height: 55px;
    overflow: hidden;
  }

  .aspa {
    display: none;
  }

  .aspab {
    display: none;
  }

  .abouta {
    width: 100%;
  }

  .aboutb {
    width: 100%;
    padding: 30px;
    padding-top: 15px;
    height: 218px;
  }

  .selfIntoduce {
    margin-top: 14px;
  }
  .modalone {
    background-color: white;
    position: fixed;
    width: 98%;
    height: 300px;
    top: 47%;
    left: 49.5%;
    z-index: 13;
    margin-top: -150px;
    margin-left: -200px;
    overflow: hidden;
  }
  .aspab {
    display: inline;
  }

  .mea {
    margin-top: 5px;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
  }

  #mea1 {
    margin-top: 8px;
    font-size: 13px;
    padding: 7px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    border: 0px;
    border-radius: 10px;
  }

    #mea1 > .whiteBtn img {
      width: 5%;
    }

    #mea1 > .whiteBtn {
      padding-left: 75%;
    }

  #mea3 {
    margin-top: 8px;
    font-size: 13px;
    padding: 7px;
    width: 100%;
    border-radius: 10px;
  }

    #mea3 > .whiteBtn img {
      width: 5%;
    }

    #mea3 > .whiteBtn {
      padding-left: 75%;
    }

  .font22 {
    font-size: 13px;
    padding: 0;
    margin-top: 8px;
  }

  .IntroduceTextInfo > h3 {
    font-size: 16px;
    padding: 0;
  }

  .IntroduceTextInfo > .huiyi {
    height: 24px;
    display: inline;
  }

  .IntroduceTextInfo > p {
    font-size: 12px;
    margin: 0;
    height: 80px;
    overflow: hidden;
    line-height: 22px;
  }

  .IntroduceTextInfo > a {
    margin-top: 9px;
    font-size: 14px;
    padding: 7px;
  }

  .brandInfo > h3 {
    font-size: 16px;
    padding-left: 20px;
    padding-top: 26px;
  }

  .brandInfo > p {
    font-size: 12px;
    padding-left: 20px;
  }

  .LogoInfo > table > tbody > tr > td {
    margin-right: 0px;
    margin-left: 7px;
    width: 31%;
  }

  .LogoInfo {
    padding: 10px 16px;
  }

  .contentFooter {
    padding: 10px;
    margin-bottom: 15px;
  }

    .contentFooter > h3 {
      font-size: 16px;
      padding-top: 0px;
    }

    .contentFooter > dl > dt {
      padding-bottom: 10px;
    }

  .font18 {
    font-size: 13px;
    padding-top: 14px;
  }

  .map > img {
    width: 18%;
    margin-top: -6px;
  }

  .contentFooter > dl {
    width: 33%;
    margin-bottom: 1px;
  }

  .footerLeft > dd {
    font-size: 12px;
    line-height: 22px;
  }
}
@media screen and (max-width: 375px) {
  .intoduceInfo {
    height: 350px;
    width: 100%;
  }
  .topsize {
    top: 35px;
    left: 8%;
  }
  .title3 {
    padding-top: 1px;
  }
  .title1 {
    height: 106px;
    padding-top: 3px;
  }
  .title2 {
    height: 88px;
    padding-top: 3px;
  }
  .height2 {
    height:366px;
  }
  .height1 {
    height: 335px;
  }
  .intouceTitle > p {
    font-size: 12px;
    line-height: 24px;
    height: 92px;
  }
  .abouta {
    width:100%;
  }
  .aboutb {
    width:100%;
    padding: 30px;
    padding-top: 15px;
  }
  .aspab {
    display: inline;
  }
  .mea {
    margin-top: 5px;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
  }
  #mea1{
    margin-top: 12px;
    font-size: 13px;
    padding: 7px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    border: 0px;
    border-radius: 10px;
  }
  #mea1 > .whiteBtn img {
    width: 5%;
  }
  #mea1 > .whiteBtn {
    padding-left: 75%;
  }
  #mea3 {
    margin-top: 8px;
    font-size: 13px;
    padding: 7px;
    width: 100%;
    border-radius: 10px;
  }
  #mea3 > .whiteBtn img {
    width: 5%;
  }
  #mea3 > .whiteBtn {
    padding-left: 75%;
  }
  .font22 {
    font-size: 14px;
    padding: 0;
    margin-top: 5px;
  }
  .IntroduceTextInfo > .huiyi {
    height: 24px;
   display: inline; 
  }
  .IntroduceTextInfo > p {
    font-size: 12px;
    margin: 0;
    height: 80px;
    overflow: hidden;
    line-height: 22px;
  }
  .IntroduceTextInfo > a {
    margin-top: 9px;
    font-size: 14px;
    padding: 7px;
  }
  .modalone {
    background-color: white;
    position: fixed;
    width: 98%;
    height: 300px;
    top: 47%;
    left: 54%;
    z-index: 13;
    margin-top: -150px;
    margin-left: -200px;
    overflow: hidden;
  }
  .guanyuone {
    font-size: 15px;
  }
}
@media screen and (max-width: 360px) {
  .topsize {
    top: 35px;
    left: 6%;
  }
  .mea {
    margin-top: 0px;
    font-size: 14px;
    padding: 4px;
  }
  .mep {
    height: 80px;
    line-height: 20px;
  }
  .font22 {
    font-size: 14px;
    padding: 0;
    margin-top: 5px;
  }
  #mea3 > .whiteBtn {
    padding-left: 74%;
  }
  .IntroduceTextInfo > a {
    margin-top: 17px;
    font-size: 14px;
    padding: 4px;
  }
  .modalone {
    background-color: white;
    position: fixed;
    width: 98%;
    height: 300px;
    top: 45%;
    left: 56.5%;
    z-index: 13;
    margin-top: -150px;
    margin-left: -200px;
    overflow: hidden;
  }
  .guanyuone {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .topsize {
    top: 35px;
    left: 6%;
    letter-spacing: 0px;
  }
  #mea1 > .whiteBtn {
    padding-left: 70%;
  }
  #mea3 > .whiteBtn {
    padding-left: 70%;
  }
  .font22 {
    font-size: 14px;
    padding: 0;
    margin-top: 11px;
  }
  .whiteBtn {
    padding-left: 50px;
  }
  .font14 {
    line-height: 23px;
    height: 44px;
  }
  .LogoInfo > table > tbody > tr > td {
    margin-right: 0px;
    margin-left: 20px;
    width: 24%;
  }
  .map > img {
    width: 25%;
    margin-top: -6px;
  }
  .modalone {
    background-color: white;
    position: fixed;
    width: 98%;
    height: 276px;
    top: 42%;
    left: 63.5%;
    z-index: 13;
    margin-top: -150px;
    margin-left: -200px;
    overflow: hidden;
  }
  .guanyuone {
    font-size: 13px;
    padding-top:0;
  }
}