a {
  cursor:pointer;
}
.navbar-default {
  background-color: white;
  border-bottom: 2px solid #F1F1F1;
  border-color: #F1F1F1;
}
.navbar {
  margin-bottom: 0;
}
.container-fluid > .navbar-header {
  margin-left: 16%;
  margin-right: 2%;
}

.navbar-brand {
  height: 100%;
  padding: 25px 15px;
}
.navbar-nav {
  width: 26.5%;
  padding: 36px 0px;
}
#coll {
  width: 42%;
  padding: 36px 0px;
}
.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: 16px;
  width: auto;
  padding: 0;
  padding-bottom: 7px;
  cursor: pointer;
}
.nav > li {
  margin-left: 10%;
}
.actv {
  color: #EE0A0A;
  border-bottom: 2px solid #EE0A0A;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #EE0A0A;
}
 
  /*底部*/
.dibu {
  background: #434343 !important;
  padding-top: 0 !important;
  overflow: hidden;
  height: 320px !important;
  width: 100%;
  margin-top: -5px;
  position: relative;
  bottom: 0;
}

.footerContent {
  width: 100%;
  margin:auto;
}

.footerPadding {
  padding: 45px 22%;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.footerContent .footerPadding > dl {
  float: left;
  color: #ededed;
  border-right: 1px solid #BFBFBF;
  padding: 0 45px;
  height: 216px;
}

.footerPadding > dl > dt {
  font-size: 16px;
  padding-bottom: 15px;
}

.footerPadding > dl > dd > a {
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
}
dd {
  margin: 0 !important;
}
.footerContent .footerPadding .last {
  float: left;
  color: #ededed;
  border-right: 0;
}



.hide {
  display: none;
}

.c1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
}

.c2 {
  background-color: white;
  position: fixed;
  width: 40%;
  height: 300px;
  top: 50%;
  left: 39%;
  z-index: 3;
  margin-top: -150px;
  margin-left: -200px;
}

.img1 {
  border: 0px solid;
  width: 45%;
  height: 100%;
  float: left;
}

  .img1>img {
    width: 100%;
    height: 100%;
  }

.img2 {
  width: 55%;
  height: 100%;
  float: left;
}

.modal-header {
  color: #5ecfba;
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

  .modal-header .close {
    margin-top: -2px;
  }

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.only {
  position: absolute;
  width: 52px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.modal-body {
  position: relative;
  padding: 15px;
}

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  padding-left: 36px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 87%;
  height: 32px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.marginB10 {
  margin-bottom: 10px;
  font-size: 13px;
  color: #ccc;
  width: 80%;
  margin: auto;
}

.fra {
  float: right;
  color: #5ECFBA;
}
  .fra:hover {
    text-decoration: none;
    color: coral;
  }

#btnRegister {
  color: #ff9600;
  text-decoration: none;
}

.denglu {
  width: 80%;
  height: 47px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 24px;
  margin-left: 35px;
  background: #01c26f;
  color: #fff;
  border: 0px;
  font-size: 14px;
  padding-bottom: 8px;
  padding-top: 8px;
  background: -webkit-linear-gradient(#1fd783,#1fd06b);
  background: -o-linear-gradient(#1fd783,#1fd06b);
  background: -moz-linear-gradient(#1fd783,#1fd06b);
  background: linear-gradient(#1fd783,#1fd06b);
  outline: none;
}

.threeLogin span {
  color: #b3c3c0;
  float: left;
  padding-right: 1%;
  font-size: 14px;
}

.threeLogin a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(http://image.milisx.com/5.png) no-repeat;
  vertical-align: middle;
  margin-left: 15px;
  cursor: pointer;
}

.threeLogin {
  margin-top: 18px;
  padding-left: 36px;
}

  .threeLogin .nqq {
    background-position: 0 0;
  }

  .threeLogin .nwx {
    background-position: -20px 0;
  }
  .threeLogin .nqq:hover {
    background-position: 0px -20px;
  }
  .threeLogin .nwx:hover {
    background-position: -20px -20px;
  }

  /*悬浮导航*/
.suspension {
  position: fixed;
  z-index: 55;
  right: 10px;
  bottom: 30%;
  width: 70px;
  height: 200px;
}

.suspension-box {
  position: relative;
  float: right;
}

.suspension .a {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #353535;
  margin-bottom: 4px;
  cursor: pointer;
  outline: none;
}

  .suspension .a.active,
  .suspension .a:hover {
    background: #F05352;
  }

  .suspension .a .i {
    float: left;
    width: 44px;
    height: 44px;
    background-image: url(http://image.milisx.com/side_icon.png);
    background-repeat: no-repeat;
  }
.suspension .a-service .i {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-left: 12px;
  background-image: url(http://image.milisx.com/suspension-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.suspension .a-service-phone .i {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-left: 12px;
  background-image: url(http://image.milisx.com/suspension-bg.png);
  background-repeat: no-repeat;
  background-position: -27px 0;
}

.suspension .a-qrcode .i {
  background-position: -44px 0;
}

.suspension .a-top .i {
  background-position: -132px 0;
}

.suspension .a-top {
  background: #D2D3D6;
  display: none;
}

  .suspension .a-top:hover {
    background: #c0c1c3;
  }

.suspension .d {
  display: none;
  width: 223px;
  background: #fff;
  position: absolute;
  right: 67px;
  min-height: 90px;
  border: 1px solid #E0E1E5;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(161, 163, 175, 0.11);
}

  .suspension .d .arrow {
    position: absolute;
    width: 8px;
    height: 12px;
    background: url(http://image.milisx.com/side_bg_arrow.png) no-repeat;
    right: -8px;
    top: 31px;
  }

.suspension .d-service {
  top: 0;
}

.suspension .d-service-phone {
  top: 34px;
}

.suspension .d-qrcode {
  top: 78px;
}

.suspension .d .inner-box {
  padding: 8px 22px 12px;
}

.suspension .d-service-item {
  border-bottom: 1px solid #eee;
  padding: 14px 0;
}

.suspension .d-service .d-service-item {
  border-bottom: none;
}

.suspension .d-service-item .circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  background: #F1F1F3;
  display: block;
  float: left;
}

.suspension .d-service-item .i-qq {
  width: 44px;
  height: 44px;
  background: url(http://image.milisx.com/side_con_icon03.png) no-repeat center 15px;
  display: block;
  transition: all .2s;
  border-radius: 50%;
  overflow: hidden;
}

.suspension .d-service-item:hover .i-qq {
  background-position: center 3px;
}

.suspension .d-service-item .i-tel {
  width: 44px;
  height: 44px;
  background: url(http://image.milisx.com/side_con_icon02.png) no-repeat center center;
  display: block;
}

.suspension .d-service-item h3 {
  float: left;
  width: 112px;
  line-height: 44px;
  font-size: 15px;
  margin-left: 12px;
}

.suspension .d-service-item .text {
  float: left;
  width: 112px;
  line-height: 22px;
  font-size: 15px;
  margin-left: 12px;
}

  .suspension .d-service-item .text .number {
    font-family: Arial,"Microsoft Yahei","HanHei SC",PingHei,"PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  }

.suspension .d-service-intro {
  padding-top: 10px;
}

  .suspension .d-service-intro p {
    float: left;
    line-height: 27px;
    font-size: 12px;
    width: 50%;
    white-space: nowrap;
    color: #888;
  }

  .suspension .d-service-intro i {
    background: url(../images/side_con_icon01.png) no-repeat center center;
    height: 27px;
    width: 14px;
    margin-right: 5px;
    vertical-align: top;
    display: inline-block;
  }

.suspension .d-qrcode {
  text-align: center;
}

  .suspension .d-qrcode .inner-box {
    padding: 20px 0;
  }

  .suspension .d-qrcode p {
    font-size: 16px;
    color: #93959c;
  }
  /*响应式设置*/
  @media screen and (max-width: 1680px) {
    .footerPadding {
      padding: 45px 20%;
    }

    .c2 {
      width: 50%;
    }
  }

  @media screen and (max-width: 1630px) {
    .container-fluid > .navbar-header {
      margin-left: 14%;
      margin-right: 2%;
    }
  }

  @media screen and (max-width: 1580px) {
    .footerPadding {
      padding: 45px 18%;
    }
  }

  @media screen and (max-width: 1450px) {
    .container-fluid > .navbar-header {
      margin-left: 10%;
      margin-right: 2%;
    }

    .navbar-nav {
      width: 24%;
    }

    #coll {
      width: 44%;
    }

    .footerPadding {
      padding: 45px 16%;
    }
  }

  @media screen and (max-width: 1348px) {
    .footerPadding {
      padding: 45px 14%;
    }
  }

  @media screen and (max-width: 1200px) {
    .container-fluid > .navbar-header {
      margin-left: 8%;
      margin-right: 2%;
    }

    .navbar-nav {
      width: 22%;
    }

    #coll {
      width: 45%;
    }

    .footerPadding {
      padding: 45px 10%;
    }
  }

  @media screen and (max-width: 1024px) {
    .container-fluid > .navbar-header {
      margin-left: 6%;
      margin-right: 2%;
    }

    .footerPadding {
      padding: 45px 6%;
    }

    .c2 {
      top: 27%;
      left: 44%;
    }

    .suspension {
      bottom: 45%;
    }
  }

  @media screen and (max-width: 1007px) {
    .container-fluid > .navbar-header {
      margin-left: 1%;
      margin-right: 1%;
    }

    .navbar-nav {
      width: 17%;
    }

    #coll {
      width: 55%;
    }
  }

  @media screen and (max-width: 865px) {
    .container-fluid > .navbar-header {
      margin-left: 0%;
      margin-right: 0%;
    }

    .nav > li {
      margin-left: 8%;
    }

    .navbar-brand {
      padding: 25px 0px;
    }

    .navbar-default .navbar-nav > li > a {
      font-size: 14px;
    }

    .navbar-toggle {
      margin-top: 32px;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .container-fluid > .navbar-header {
      margin-left: 0%;
      margin-right: 0%;
    }

    .navbar-nav {
      width: 17%;
    }

    #coll {
      width: 52%;
    }

    .nav > li {
      margin-left: 7%;
    }

    .container-fluid > .collapse > .nav > li > a {
      font-size: 15px;
    }

    .footerPadding {
      padding: 40px 0%;
    }

    .footerContent .footerPadding > dl {
      padding: 0 33px;
    }

    .c2 {
      top: 36%;
      width: 74%;
    }

    .suspension {
      bottom: 33.8%;
      right: 0;
    }

      .suspension .a {
        background-color: rgba(0,0,0,0.8);
      }
  }
@media screen and (max-device-width: 736px) {
  .navbar-toggle {
    margin-top: 32px;
    border-radius: 10px;
  }

  .navbar-collapse {
    background-color: currentColor;
  }

  .navbar-nav {
    width: 100%;
    margin: 0;
    display: inline-flex;
    padding: 25px 0px;
    padding-top: 0px;
    padding-left: 76%;
  }

  #coll {
    width: 100%;
    display: block;
    padding: 10px 0px;
  }

  .nav > li {
    margin-left: 0;
  }

  .container-fluid > .collapse > .nav > li > a {
    color: white;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
  }

  .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 18px;
    width: auto;
    line-height: 50px;
    font-weight: 600;
    padding: 0;
    padding-bottom: 0px;
    cursor: pointer;
  }

  .c2 {
    top: 61%;
    width: 74%;
    left: 41%;
  }

  .suspension {
    bottom: 0;
    right: 1px;
  }
}

@media screen and (max-device-width: 667px) {
  .container-fluid > .collapse > .nav > li > a {
    line-height: 47.8px;
  }

  .navbar-default .navbar-nav > li > a {
    line-height: 47.8px;
  }

  .navbar-nav {
    padding: 0;
    padding-top: 0px;
    padding-left: 75%;
  }

  .c2 {
    top: 68%;
    width: 75%;
    left: 42%;
    height: 260px;
  }

  .denglu {
    width: 75%;
    height: 35px;
    margin-top: 10px;
  }

  .threeLogin {
    margin-top: 12px;
    padding-left: 47px;
  }

  .footerPadding {
    width: 92%;
  }
}

@media screen and (max-device-width: 640px) {
  .container-fluid > .collapse > .nav > li > a {
    line-height: 44.8px;
  }

  .navbar-default .navbar-nav > li > a {
    line-height: 44.8px;
  }

  .navbar-nav {
    padding-left: 74%;
  }

  .c2 {
    width: 78%;
  }

  .denglu {
    width: 75%;
    height: 35px;
    margin-top: 10px;
  }

  .threeLogin {
    margin-top: 12px;
    padding-left: 47px;
  }

  .footerPadding {
    width: 97%;
  }
}

@media screen and (max-device-width: 568px) {
  .container-fluid > .collapse > .nav > li > a {
    line-height: 36.8px;
    font-size: 17px;
  }

  .navbar-default .navbar-nav > li > a {
    line-height: 36.8px;
    font-size: 17px;
  }

  .navbar-nav {
    padding-left: 72%;
  }

  .c2 {
    top: 79%;
    width: 84%;
    left: 42%;
    height: 213px;
  }

  .modal-header {
    padding: 8px;
  }

  .modal-body {
    position: relative;
    padding: 15px;
    padding-top: 5px;
  }

  ul, ol {
    padding-left: 0;
  }

  .form-control {
    width: 100%;
    height: 25px;
    font-size: 12px;
  }

  .marginB10 {
    margin-bottom: 0px;
    font-size: 12px;
    width: 100%;
  }

  .denglu {
    width: 100%;
    height: 30px;
    font-size: 12px;
    margin-left: 0;
    margin-top: 10px;
  }

  .threeLogin {
    margin-top: 12px;
    padding-left: 35px;
  }

  .dibu {
    height: 255px !important;
  }

  .footerPadding {
    width: 100%;
    padding: 20px 0%;
  }

  .footerContent .footerPadding > dl {
    padding: 0 27px;
  }
}

  @media screen and (max-width: 414px) {
    .navbar-toggle {
      margin-top: 32px;
      border-radius: 10px;
    }

    .navbar-collapse {
      background-color: currentColor;
    }

    .navbar-nav {
      width: 100%;
      margin: 0;
      display: inline-flex;
      padding-top: 328px;
      padding-left: 55%;
    }

    #coll {
      width: 100%;
      display: block;
    }

    .nav > li {
      margin-left: 0;
    }

    .container-fluid > .collapse > .nav > li > a {
      color: white;
      font-size: 18px;
      line-height: 50px;
      font-weight: 600;
    }

    .navbar-default .navbar-nav > li > a {
      color: white;
      font-size: 18px;
      width: auto;
      line-height: 50px;
      font-weight: 600;
      padding: 0;
      padding-bottom: 7px;
      cursor: pointer;
    }

    .dibu {
      height: 245px !important;
    }

    .footerPadding {
      padding: 21px 0px;
      width: 100%;
    }

    .footerContent .footerPadding > dl {
      padding: 6px;
      height: 204px;
    }

    .footerPadding > dl > dt {
      font-size: 13px;
      padding-bottom: 6px;
    }

    .footerPadding > dl > dd > a {
      font-size: 10px;
      line-height: 25px;
    }

  .c2 {
    top: 50%;
    width: 98%;
    height: 261px;
    left: 49%;
  }

    .modal-body {
      position: relative;
      padding: 0px;
      padding-top: 16px;
    }

    .form-control {
      display: block;
      width: 91%;
      height: 32px;
      padding: 6px 12px;
      font-size: 13px;
    }

    .marginB10 {
      font-size: 12px;
      width: 88%;
      margin: auto;
      margin-left: 16px;
    }

    .denglu {
      width: 80%;
      height: 33px;
      margin-top: 22px;
      margin-left: 22px;
      font-size: 13px;
      padding-bottom: 8px;
      padding-top: 8px;
    }

    ul, ol {
      padding-left: 17px;
    }

    .suspension .a {
      background-color: rgba(0,0,0,0.5);
    }

    .suspension {
      bottom: 0;
      right: 1px;
    }
  }

  @media screen and (max-width: 375px) {
    .navbar-nav {
      width: 100%;
      margin: 0;
      display: inline-flex;
      padding-top: 259px;
      padding-left: 54%;
    }

    .dibu {
      height: 228px !important;
    }

    .footerPadding {
      padding: 12px 0px;
    }

    .footerContent .footerPadding > dl {
      padding: 1.5px;
      height: 204px;
    }

    .c2 {
      left: 54%;
    }

    ul, ol {
      padding-left: 6px;
    }

    .form-control {
      display: block;
      width: 95%;
    }

    .marginB10 {
      width: 94%;
      margin-left: 10px;
    }

    .denglu {
      margin-left: 20px;
    }

    .threeLogin {
      margin-top: 18px;
      padding-left: 20px;
    }

    .suspension {
      bottom: 0;
      right: 0;
    }
  }

  @media screen and (max-width: 360px) {
    .navbar-nav {
      width: 100%;
      margin: 0;
      display: inline-flex;
      padding-top: 232px;
      padding-left: 51%;
    }

    .dibu {
      height: 250px !important;
    }

    .footerPadding {
      padding: 0;
      padding-top: 12px;
      display: flex;
    }

    .footerContent .footerPadding > dl {
      padding: 1.5px;
      padding-left: 4px;
      height: 224px;
    }

    .c2 {
      left: 56.6%;
    }

    .suspension {
      bottom: 0%;
      right: 2px;
    }
  }

  @media screen and (max-width: 320px) {
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
      margin-right: auto;
      margin-left: auto;
    }

      .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
      }

    .navbar-nav {
      width: 100%;
      margin: 0;
      display: inline-flex;
      padding-top: 160px;
      padding-left: 44%;
    }

    .dibu {
      height: 248px !important;
      display: flex;
    }

    .footerPadding {
      padding: 0;
      display: flex;
    }

    .footerContent .footerPadding > dl {
      padding-left: 12px;
      padding-right: 10px;
      height: 204px;
    }

    .c2 {
      left: 63.6%;
    }

    .img1 {
      width: 0;
      height: 0;
    }

    .img2 {
      width: 95%;
    }
  }
