.content-border {
  width: 65%;
  margin: auto;
  height: 600px;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 34px;
  padding: 50px;
}

.froma {
  border: 0px solid;
  width: 100%;
  height: 100%;
}

.reg-font {
  font-size: 25px;
  letter-spacing: 2px;
  color: #959595;
  font-weight: 600;
  user-select: text;
}

.form-div {
  display: block;
  margin-top: 10px;
  margin-left: 25%;
}

.divone {
  margin-top: 35px;
}

.edit_label {
  display: inline-block;
  width: 16%;
  line-height: 44px;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: right;
  user-select: none;
}

input {
  line-height: 24px;
  letter-spacing: 2px;
  font-size: 16px;
  display: inline-block;
  padding: 0 5px;
  height: 30px;
  border: 1px solid #ABABAB;
  border-radius: 4px;
  margin: 5px 0 0 2px;
  width: 30%;
  user-select: text;
}

.redone {
  color: red;
}

.emaila {
  margin-left: 13%;
  user-select: none;
}

.btn_reg {
  height: 44px;
  width: 25%;
  margin-left: 33.5%;
  color: #fff;
  background-color: red;
  font-size: 20px;
  border: 0;
  margin-top: 20px;
  user-select: none;
  outline: none;
}

.loada {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

  .loada:hover {
    color: red;
    text-decoration: none;
  }

#Reg_checkcode {
  user-select: none;
}
@media screen and (max-width: 1542px) {
  .form-div {
    margin-left: 14%;
  }
  .edit_label {
    width: 28%;
  }
}
@media screen and (max-width: 1302px) {
  .form-div {
    margin-left: 10%;
  }
  .edit_label {
    width: 22%;
  }
}
@media screen and (max-width: 1024px) {
  .content-border {
    width: 80%;
    padding: 20px;
    height:500px;
  }
  .reg-font {
    font-size: 22px;
    margin: 0;
    margin-top: 5px;
  }
  .emaila {
    margin-left: 23%;
  }
}
@media screen and (max-width: 768px) {
  .content-border {
    width: 90%;
  }
}
@media screen and (max-width: 414px) {
  .content-border {
    width: 98%;
    margin-top: 14px;
    margin-bottom: 25px;
    height: 460px;
  }
  .reg-font {
    font-size: 18px;
  }
  .form-div {
    margin-left: 5%;
    margin-top:0px;
  }
  .divone {
    margin-top: 22px;
  }
  
  .edit_label {
    width: 30%;
    font-size: 15px;
  }
  input {
    font-size: 16px;
    height: 30px;
    width: 60%;
  }
  .emaila {
    margin-left: 11.5%;
    font-size: 12px;
  }
  #Reg_checkcode {
    user-select: none;
    font-size: 12px;
    position: relative;
    top: 10px;
    padding-left: 15%;
  }
  .btn_reg {
    height: 35px;
    width: 50%;
    margin-left: 26.5%;
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .emaila {
    margin-left: 6.5%;
    font-size: 12px;
  }
  #Reg_checkcode {
    padding-left: 12%;
  }
}
@media screen and (max-width: 360px) {
  .reg-font {
    font-size: 16px;
  }
  .edit_label {
    width: 32%;
    font-size: 14px;
  }
  input {
    font-size: 14px;
  }
  .emaila {
    margin-left: 3.5%;
  }
  #Reg_checkcode {
    padding-left: 10%;
  }
  #imga {
    margin-top: -6px;
  }
}
@media screen and (max-width: 320px) {
  .content-border {
    height: 388px;
    padding: 10px;
  }
  .divone {
    margin-top: 12px;
  }
  .form-div {
    margin-left: 3%;
  }
  .emaila {
    margin-left: 34%;
  }
  .edit_label {
    width: 32%;
    font-size: 13px;
    line-height: 30px;
  }
  input {
    font-size: 13px;
    height: 25px;
  }
}
