@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
  【企业简介】
  山西米立信息技术有限公司创立于2014年11月份，前身为杨铭工作室，2016年正式注册成立。本着以在高新技术应用领域中专业从事应用系统开发、行业软件开发的发展使命。米立长期专注于教育培训行业、煤炭行业、房地产、市政运营管理、企业内部管理等相关行业的软件信息化领域，凭借多年在应用系统软件开发领域积累的经验，专门针对各行各业进行实地的考察与沟通，并实时的给予优良的售后服务，为中小微企业的工作效率得以快速提升。米立现已经成为中小微企业内具有巨大实力的软件系统方案提供商。
  米立科技倡导“专业、务实、高效、创新”的企业精神。秉承为中小微企业的腾飞而努力奋斗的价值使命。
  具有良好的内部机制，优良的工作环境以及良好的激励机制，吸引了一批年轻、有学识、具有实干精神的人才，为此成立了一支高效专业的研发团队，为中小企业在软件行业的需求提供了良好的开发与服务保障。
</p>
