@page
@model AboutModel
@{
  ViewData["Title"] = "米立科技";
}
<link type="text/css" rel="stylesheet" href="~/css/About.css" />
<div class="aboutbg ">
    <div class=" classPos">
      <h2>这样的我们</h2>
      <span>—</span>
      <p>
        秉承“以质量求生存，以创新求发展”的指导思想<br>
        始终把质量和创新放在首位。
      </p>
    </div>
</div>
@*内容*@
<div class="classContent">
  @*内容1*@
  <div class="row classTop">
    <div class="classLeft fl">
        <h1>
          <span class="red">米立</span><span>科技</span>
        </h1>
        <p class="font20">
          倡导“专业、务实、高效、创新”的企业精神
        </p>
    </div>
    <div class="classRight fl">
      <h2>
        关于米立
      </h2>
      <span>—</span>
      <p>
        MLtechnology创立于2014年11月份，前身为杨铭工作室，2016年成立为山西米立信息技术有限公司。本着以是在高新技术应用领域中专业从事应用系统开发、信息安全服务的高新技术企业。米立长期专注于教育行业、煤炭行业、房地产、市政运营管理等相关行业信息化领域，凭借多年在应用系统开发以及信息安全服务的积累的经验，米立科技已经成为该领域内著名的应用系统解决方案提供商。
      </p>
      <p>
        米立科技倡导“专业、务实、高效、创新”的企业精神，具有良好的内部机制。优良的工作环境以及良好的激励机制，吸引了一批年轻的、有学识的、具有实干精神的人才。高素质、高水平、高效率的人才是尊蓝信息在当今激烈的市场中立于不败之地的保障...
      </p>
    </div>
  </div>
  @*内容2*@
  <div class="aboutContentbg">
    <div class="classContentPos">
      <h3>
        在高平的米立
      </h3>
      <span>—</span>
      <p>
        在一个城市生活，每个人都能感受来自城市的温度。<br>
        而在每个企业，员工也能感受企业温暖。
      </p>
    </div>
  </div>
  @*内容3*@
  <div class="technologyInfo">
    <div class="technologyCenter">
        <div class="technologyText">
          <h2>
            米立技术
          </h2>
          <span class="font18">—</span>
          <p style="color:#fff;">
            米立团队经历了多年企业级系统解决方案的自主研发，我们已经积累了安全、稳定、高效的开发框架，和应对各种状况的处理经验。
          </p>
        </div>
    </div>
    <div class="row overFlow">
      <div class="combannerText fl ">
        <h3>
          WEB、移动互联网及系统开发
        </h3>
        <span class="font18 textLight">—</span>
        <p>
          ASP.NET（ASP.NET Core MVC、ASP.NET MVC、ASP.NET WebForms）<br>
          SQL Server<br>
          MySQL<br>
          SQLite<br>
          Android<br>
          iOS<br>
          HTML5<br>
          JAVA<br>
          PHP<br>
          Python<br>
          JavaScript<br>
          Vue.js<br>
          Bootstrap<br>
          Anjular.js
        </p>
      </div>
      <div class="combannerText fl bgGray">
        <h3>
          微信开发
        </h3>
        <span class="font18 textLight">—</span>
        <p>
          微信小程序<br>
          微信公众号<br>
          企业微信（前微信企业号）<br>
          微信开放平台<br>
          微信硬件<br>
          微信支付<br>
          微信卡券<br>
          微信JSSDK
        </p>
      </div>
    </div>
    <div class="row overFlow">
      <div class="combannerText fl bgGray bgGrayone">
        <h3>
          其他综合框架及技术
        </h3>
        <span class="font18 textLight">—</span>
        <p>
          Docker<br>
          Kubernetes(k8s)<br>
          EntityFramework<br>
          Dapper<br>
          WCF<br>
          Web Service<br>
          LINQ<br>
          Hibernate、NHibernate<br>
          Spring、Spring.NET<br>
          Razor Template<br>
          T4 Template
        </p>
      </div>
      <div class="combannerText fl bgGrayone">
        <h3>
          其他综合应用
        </h3>
        <span class="font18 textLight">—</span>
        <p>
          微信开发（Weixin SDK是目前市场上使用率一直保持领先地位的微信C#开发套件）<br>
          ERP（Enterprise Resource Planning）<br>
          CRM（Customer Relationship Management）<br>
          CMS（Content Management System）<br>

          <span class="aspa1">
              SNS（Social Networking Services）<br>
          </span>       
          <span class="aspa">

            Logistics Manage System（物流管理系统）<br>
            饭店点菜系统<br>
            KTV点歌系统<br>
            VIP会员管理系统及会员充值/消费管理系统<br>
            智能家居系统（Smart Home、Home Automation）<br>
          </span>
          微信营销系统<br>
          微信人大管理系统<br>
          微信党建平台<br>
          微信企业管理系统
        </p>
      </div>
    </div>
  </div>
  @*内容4*@
  <div class="produceIntoduce">
    <div class="aboutMeImg fl">
      <img src="http://image.milisx.com/3.4.jpg">
    </div>
    <div class="fl IntroduceTextInfo ">
      <h3>
        这样的米立
      </h3>
      <span>—</span>
      <p>
        始终坚持发扬"诚信、创新、沟通"为企业宗旨，以"技术、服务"为立业之本的团体精神。
      </p>
      <p>
        经营理念:客户第一，员工第二，股东第三。<br />
        用人规则:客户第一，信誉责任，改变成长，包容分享，团队协作，感恩一切，公司利益高于个人利益，专注聚焦极致马上行动。
      </p>
    </div>
  </div>
  @*内容5*@
  <div class="selfIntoduce">
    <div class="aboutMeImg fr imgone">
      <img src="http://image.milisx.com/3.5.jpg">
    </div>
    <div class="aboutMeIntroduce fr" id="agency">
      <h4 class="font22">
        合作代理
      </h4>
      <span>—</span>
      <p class="font16">
        MLtechnology目前的产品已经覆盖了企业网站、门户网站、SNS（社会化网络服务）网站、电子商务网站、各类管理系统、信息系统、网站优化、SEO（搜索引擎优化）、网站推广、各类软件开发、手机软件开发等服务项目。
      </p>
      <p class="logya">
        优质的伙伴资源是企业发展过程中不可缺少的部分，我们愿意同优秀的合作伙伴一道，实现共赢，打造更好的经营业绩！
      </p>
      <p class="logya">
        MLtechnology目前提供“战略合作”与“代理”两种合作方式，您可以与我们资源互补，成为我们共进退的合作伙伴，也可以加入我们的销售网络，成为我们产品供应链中的一员。
      </p>
      <p>
        联系Email：zhao365845726@163.com ，电话：17803565206。
      </p>
    </div>
  </div>
  @*内容6*@
  <div class="payWay" id="pay">
      <h3>
        支付方式
      </h3>
      <div class="payPad">
        <h3>
          公司账户（银行，卡号，收款方）
        </h3>
        <p>
          晋城银行&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @*30320188000256609*@ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 山西米立信息技术有限公司
        </p>
      </div>
      <div class="payPad">
        <h3>
          银行账号转账（银行，卡号，收款方）
        </h3>
        <table>
          <tbody>
            <tr>
              <th>
                中国工商银行
              </th>
              <th>
               
              </th>
              <th>
               
              </th>
            </tr>
            <tr>
              <th>
                中国建设银行
              </th>
              <th>
              
              </th>
              <th>
               
              </th>
            </tr>
            <tr>
              <th>
                中国银行
              </th>
              <th>
               
              </th>
              <th>
                
              </th>
            </tr>
            <tr>
              <th>
                晋城银行
              </th>
              <th>
               
              </th>
              <th>
               
              </th>
            </tr>
            <tr>
              <th>
                中国邮政储蓄银行
              </th>
              <th>
               
              </th>
              <th>
              
              </th>
            </tr>
            <tr>
              <th>
                招商银行
              </th>
              <th>
               
              </th>
              <th>
               
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="payPad">
        <h3>
          支付宝支付（收款方，账号，备注）
        </h3>
        <p>
          山西米立信息技术有限公司 @*www.jeffrey.su@gmail.com*@ 请注明您的MLtechnology用户名或手机、电话等联系方式
        </p>
        <p>
          @*苏震巍 szw2003@163.com*@ 请注明您的MLtechnology用户名或手机、电话等联系方式
        </p>
      </div>
      <div class="payPad">
        <h3>
          国际支付（Full Name，Account No，Bank Name，SWIFT CODE）
        </h3>
        <p>
          @*Su Zhenwei 6013826101043895023 Bank of China ,Suzhou Branch BKCHCNBJ95B*@
        </p>
      </div>
  </div>
 </div>







