@page
@model MLTechnology.Pages.constructionModel
@{
  ViewData["Title"] = "米立科技";
}
<style>
  .content-icon {
      padding:20px;
      background-color:white;
  }
  .ul-list li {
    display:inline-block;
    margin-left: 2%;

    margin-top:10px;
    margin-bottom:10px;
  }
  .ul-list li img {
     width:200px;
     height:150px;
         border:1px solid #EEEEF2;
    border-radius:10px;
  }
</style>
<div class="content-icon">
  <div>
    <ul class="ul-list">
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.01.png" /></li>
    </ul>
  </div>
</div>