@page
@model MLTechnology.Pages.constructionModel
@{
  ViewData["Title"] = "米立科技";
}
<style>
  .content-icon {
      padding:20px;
      background-color:white;
  }
  .ul-list {
     display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 10px 6.5%;
  }
  .ul-list li {
    margin-left: 1.5%;
    margin-top:10px;
    margin-bottom:10px;
  }
  .ul-list li img {
     width:200px;
     height:100px;
     border:1px solid #EEEEF2;
     border-radius:10px;
  }
  .content-con {
    padding:2% 8.2%;
  }
  .title {
    font-size: 24px;
    margin-bottom: 3%;
  }
  .con-img {
     width:200px;
     height:150px;
     border:1px solid #EEEEF2;
     border-radius:6px;
  }
  .con-body {
    width: 85%;
    float: right;
    font-size: 16px;
    line-height: 28px;
    padding-top:1.5%; 
   }
  .con-div {
    margin-bottom: 2.5%;
  }
</style>
<div class="content-icon">
  <div>
    <ul class="ul-list">
      <li><img src="http://image.milisx.com/1.01.png" /></li>
      <li><img src="http://image.milisx.com/1.02.png" /></li>
      <li><img src="http://image.milisx.com/1.03.png" /></li>
      <li><img src="http://image.milisx.com/1.04.png" /></li>
      <li><img src="http://image.milisx.com/1.05.png" /></li>
      <li><img src="http://image.milisx.com/1.06.png" /></li>
      <li><img src="http://image.milisx.com/1.07.png" /></li>
      <li><img src="http://image.milisx.com/1.08.png" /></li>
      <li><img src="http://image.milisx.com/1.09.png" /></li>
      <li><img src="http://image.milisx.com/1.010.png" /></li>
      <li><img src="http://image.milisx.com/1.011.png" /></li>
      <li><img src="http://image.milisx.com/1.012.png" /></li>
      <li><img src="~/images/amazon.jpg" /></li>
    </ul>
  </div>
  <div class="content-con">
    <p class="title">服务的客户</p>
    <div class="con-div">
      <img src="~/images/amazon.jpg" class="con-img" />
      <p class="con-body">亚马逊及其它销售商为客户提供数百万种独特的全新、翻新及二手商品，如图书、影视、音乐和游戏、数码下载、电子和电脑、家居园艺用品、玩具、婴幼儿用品、食品、服饰、鞋类和珠宝、健康和个人护理用品、体育及户外用品、玩具、汽车及工业产品等。</p>
    </div>
    <div class="con-div">
      <img src="http://image.milisx.com/1.01.png" class="con-img" />
      <p class="con-body">微软（英文名称：Microsoft；中文名称：微软公司或美国微软公司）始建于1975年，是一家美国跨国科技公司，也是世界PC（Personal Computer，个人计算机）软件开发的先导，由比尔·盖茨与保罗·艾伦创办于1975年，公司总部设立在华盛顿州的雷德蒙德（Redmond，邻近西雅图）。以研发、制造、授权和提供广泛的电脑软件服务业务为主。</p>
    </div>
    <div class="con-div">
      <img src="http://image.milisx.com/1.08.png" class="con-img" />
      <p class="con-body">中国联通主要经营GSM、WCDMA和FDD-LTE制式移动网络业务，固定通信业务，国内、国际通信设施服务业务，卫星国际专线业务、数据通信业务、网络接入业务和各类电信增值业务，与通信信息业务相关的系统集成业务等。2009年1月6日，原中国联合通信有限公司与原中国网络通信集团公司重组合并，新公司更名为中国联合网络通信集团有限公司。为与合并前的中国联通相区分，业界常以“新联通”进行称呼。</p>
    </div>
  </div>
</div>