@page
@model ContactModel
@{
    ViewData["Title"] = "米立科技";
}
<h2>@ViewData["Title"]</h2>


<link  rel="stylesheet" href="~/css/Contact.css"/>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000" style="width:1440px;height:380px;    margin-top: 22px;">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/02.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption"><span class="span">1</span></div>
        </div>
        <div class="item">
            <img src="~/images/03.jpg" class="img-responsive" />
            <div class="carousel-caption"><span class="span">2</span></div>
        </div>
        <div class="item">
            <img src="~/images/01.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption"><span class="span">3</span></div>
        </div>
    </div>
</div>



<div class="div">
    <div class="div1">
        <div class="kf">在线客服</div>
        <div class="qq">
            <a class="qq1"><span class="qq2"></span></a>
            <a class="qq1"><span class="qq2"></span></a>
        </div>

        <div class="qq">
            <div class="time">
                <span class="time1"></span>
                <span class="time2">工作时间</span>
            </div>
            <p class="zt1">周一至周五 ：8:30-17:30</p>
            <p class="zt1">周六至周日 ：9:00-17:00</p>
        </div>

        <div class="dizhi">
            <div class="time">
                <span class="dizhi1"></span>
                <span class="time2">公司地址</span>
            </div>
            <p class="zt1">山西省晋城市高平市</p>
            <p class="zt1"> 南城街道办汇鑫商贸城创客梦想城</p>
            <p class="zt1">邮编：048400</p>
        </div>

        <div class="lianxi1">
            <div class="time">
                <span class="lianxi"></span>
                <span class="time2">联系方式</span>
            </div>
            
                <p class="zt1">电话:<a class="ys">17803565206</a></p>
                <p class="zt2">163邮箱:<a href="mailto:zhao365845726@163.com" class="ys" >zhao365845726@163.com</a></p>
                <p class="zt2">微软邮箱:<a href="mailto:martyzane@hotmail.com" class="ys">martyzane@hotmail.com</a></p> 
            
        </div>
    </div>
    <div class="div2"></div>
</div>























@*<address>
   
    <abbr title="Phone">电话:17803565206</abbr>
   
</address>

<address>
    <strong>163邮箱:</strong> <a href="mailto:zhao365845726@163.com">zhao365845726@163.com</a><br />
    <strong>微软邮箱:</strong> <a href="mailto:martyzane@hotmail.com">martyzane@hotmail.com</a>
</address>*@
