@page
@model ContactModel
@{
    ViewData["Title"] = "米立科技";
}
  @*<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=GHKUFSseVQDWsYPDrE02xNF0pRhueBIQ"></script>*@
<link  rel="stylesheet" href="~/css/Contact.css"/>
@*图片*@
<div class="joinUsbg ">
    <div class=" classPos">
      <h2>加入我们</h2>
      <span>—</span>
      <p>
        我们是一个年轻而紧密的团队，对网络<br>
        络和周围的事物充满热情
      </p>
    </div>
</div>
@*下面内容*@
<div class="classContent">
  <div class="workInfo overFlow">
    <div class="fl workInfoLeft">
      <h2 class="workName">web前端工程师（Web Engineer）</h2>
      <h3 class="workDescription">工作描述:</h3>
      <p>
        负责公司产品研发的前端开发，编写可复用的用户界面和组件。优化前端体验和页面响应速度，并保证兼容性和执行效率。配合交互、视觉设计师实现产品界面和功能。完成上级下达的其他相关任务。
      </p>
      <h3 class="edcationInfo">教育背景及相关专业技能：</h3>
      <p>
        熟悉 HTML5，CSS，Javascript等前端技术，代码符合W3C标准；熟悉代码模块化开发，有优秀的抽象思维和逻辑思维；了解不同浏览器的兼容性区别（Chrome/Safari/Mozilla/IE)；优秀的沟通技巧，强烈的团队合作意识，能编写api文档，善于时间管理；熟悉jQuery/YUI/MooTools/Dojo中至少一种框架，特别是jQuery；具备浓厚的前端开发兴趣、良好的WEB前端技术视野；具备良好的学习能力、问题解决能力、沟通能力和团队合作能力；诚实、正直。
      </p>
      <h3 class="workProperty topo">工作性质：全职（工作地点：山西高平）</h3>
    </div>
    <div class="fl workInfoRight">
      <h2 class="workName">ASP.NET软件工程师</h2>
      <h3 class="workDescription">工作描述:</h3>
      <p>
        开发和维护ASP.NET网站或产品。编写或阅读相关产品文档。把握开发进度，准确预期个人任务的耗时，及时更新Project Manager内容。和所有开发、设计、测试人员及项目经理保持良好的沟通和协调。根据《需求分析报告》或投诉，及时更新产品或予以答复。
      </p>
      <h3 class="workDescription">教育背景及相关专业技能：</h3>
      <p>
        软件相关专业，有丰富的B/S开发经验，对B/S模式有深入理解；或有ASP.NET开发经验2年以上。必须有团队合作经历。熟练掌握.NET 3.5/4.5及以上版本开发，熟悉LINQ技术，能熟练操作VS2010/2012及以上版本，能及时排除软件故障。
        如对PHP、JSP、Silverylight、WCF、WPF、WinForm、Flex等技术了解或精通者优先考虑，但不作要求。熟练掌握SQL Server 2005/2008/2012及以上版本等数据库的开发技巧。能看懂英文文档；能使用英文和客户沟通者优先考虑，但不作要求。思维敏捷，有上进心，有较强的学习接受能力，能积极应对新事物。有很强的团队意识，能适当地表现自我，能充分理解客户，精力充沛，能承担责任和压力，诚实、正直。
      </p>
      <h3 class="workProperty topob">工作性质：全职（工作地点：山西高平）</h3>
    </div>
  </div>
  <div class=" overFlow">
    <div class="fl workInfoLeft" style="background: rgba(249,249,249,1);">
      <h2 class="workName">销售工程师（Sales Engineer）</h2>
      <h3 class="workDescription">工作描述:</h3>
      <p>
        在所在目标区域完成销售指标（以企业网站、管理系统、企业信息化相关产品及400电话为主）。在所在目标区域寻找并跟踪目标。跟踪项目，与各方面的客户、开发人员、设计人员、测试人员等保持良好的沟通和协调。及时在CRM系统上更新项目信息和其他相关销售活动信息。及时更新项目信息和销售预测。根据公司流程处理客户投诉。
      </p>
      <h3 class="edcationInfo">教育背景及相关专业技能：</h3>
      <p>
        市场营销相关专业，或有软件营销经验者优先考虑。能看懂英文。有相关实践经验或工作经验；2年以上成功营销经验者优先考虑；良好的表达技巧，并能够自信地介绍公司和产品。优秀的沟通和人际交往能力，热情，并富有良好的团队精神。以客户为中心，良好的服务意识，善于和客户沟通。诚实、正值。
      </p>
      <h3 class="workProperty topoa">工作性质：全职（工作地点：山西高平）/兼职</h3>
    </div>
    <div class="fl workInfoRight" style="background: rgba(255,255,255,1);">
      <h2 class="workName">新媒体运营</h2>
      <h3 class="workDescription">工作描述:</h3>
      <p>
        负责公司旗下微信公众号编辑运营，策划并执行微信营销线日常活动及跟踪维护；对接和分解客户需求， 能够完成专题策划、活动；按照月度制定执行计划，以周报月报的形式提交汇报；根据项目制定的方向做好项目执行总体把控和管理，对运营素材质量把关；对微信粉丝的网络行为进行分析与总结；收集分析其他微信的运营情况及最新活动信息；深入了解互联网，有效运用相关资源；负责传播计划的执行，能够主动与客户融洽交流，顺利推进整体项目进程。
      </p>
      <h3 class="workDescription">教育背景及相关专业技能：</h3>
      <p>
        有微信、微博、网络运营相关经验优先，有一定的互联网知识基础；具备一定的文字功底，善于沟通，善于把握用户的各层次需求；有良好的数据分析能力，对产品和数据敏感，掌握互联网常用统计指标和工具；熟悉网站运作和推广的各种方式，掌握各种流量跟踪方法；大专及以上学历，中文、广告、新闻等行业者优先
      </p>
      <h3 class="workProperty">工作性质：全职（工作地点：山西高平）</h3>
    </div>
  </div>
  <div class="explainInfo">
    <p class="font14" style="padding-bottom: 20px;">说明：</p>
    <p class="font14">
      投递简历请附上一定数量的以往的成功案例或说明，如有作品，请附上截图或可以浏览的网址。<br>
      请在简历中注明期望的待遇或目前的待遇。<br>
      投递简历Email：zhao365845726@163.com，电话：17803565206，QQ：365845726（请注明来由），联系人：赵先生。<br>
    </p>
  </div>
</div>























