@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>163邮箱:</strong> <a href="mailto:zhao365845726@163.com">zhao365845726@163.com</a><br />
    <strong>微软邮箱:</strong> <a href="mailto:martyzane@hotmail.com">martyzane@hotmail.com</a>
</address>
