@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    山西省晋城市高平市<br />
    南城街道办汇鑫商贸城创客梦想城<br />
    <abbr title="Phone">电话:17803565206</abbr>
    邮编：048400
</address>

<address>
    <strong>163邮箱:</strong> <a href="mailto:zhao365845726@163.com">zhao365845726@163.com</a><br />
    <strong>微软邮箱:</strong> <a href="mailto:martyzane@hotmail.com">martyzane@hotmail.com</a>
</address>
