@page
@model ErrorModel
@{
  ViewData["Title"] = "米立科技";
}
@*<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=GHKUFSseVQDWsYPDrE02xNF0pRhueBIQ"></script>*@
<link rel="stylesheet" href="~/css/Error.css" />

<div class="produceBanner">
    <div class="comPosition">
      <h2>米立产品及服务</h2>
      <p>专注系统软件开发/手机网站/APP开发及微信公众号/小程序开发</p>
      <span class="font18">—</span>
      <p>为客户提供专业的“一对一”服务<br />更大程度上满足客户的需求，保证最专业的技术与服务</p>
    </div>
</div>
@*内容*@
<div class="produceIntoduce">
  @*内容1*@
  <div class="containerCenter" name="miaodiand" id="miaodiand">
    <div class="bannerCenter" >
      <h2 class="font22">APP定制</h2>
      <span class="font18">—</span>
      <p class="font15">
        MLtechnology，专业的研发团队，主要致力于以满足用户个性化需求为核心<br />
        品牌识别、交互设计、易用性和功能性等可量化因素为实施准则<br />
        力求通过专业服务为客户建设一个用户体验价值高的商业网络平台。
      </p>
    </div>
  </div>
  @*内容2*@
  <div class="row overFlow">
    <div class="combannerText fl ">
      <span class="titleLogo titleLogoTop"><img src="http://www.senparc.com/Content/Images/img/weiweihilogo.png"></span>
      <h3>微微嗨会议智能助手</h3>
      <span class="font18 textLight">—</span>
      <p>可以提供实时互动服务的SaaS服务平台，用户通过微微嗨能高效地组织会议、活动、培训及远程协作，活跃现场气氛，提高人员互动性、积极性、趣味性，提升效率和参与者满意度。</p>
    </div>
    <div class="combannerText fl bgGray">
      <span class="titleLogo"><img src="~/images/SDK.png"></span>
      <h3>米立SDK</h3>
      <span class="font18 textLight">—</span>
      <p>由米立科技自主研发的微信C#SDK（MLtechnology.Weixin）已经连续第5年在同类平台中占据较多的使用率。在为微信开发者们节省至少每年数千万小时的工作量的同时，我们正在为数百万的微信公众号、企业号、第三方平台提供技术支持！</p>
    </div>
  </div>
  <div class="row overFlow" name="miaodianc" id="miaodianc">
    <div class="combannerText fl bgGray">
      <span class="titleLogo"><img src="~/images/Service.png"></span>
      <h3>开发服务外包</h3>
      <span class="font18 textLight">—</span>
      <p>MLtechnology目前拥有一流的软件及网站开发团队，拥有专业的人才团队，根据客户的要求，为客户量身设计合理的系统及软件，为客户提供专业的“一对一”服务，更大程度上满足客户的需求，保证最专业的技术与服务。</p>
    </div>
    <div class="combannerText fl ">
      <span class="titleLogo"><img src="~/images/Success.png"></span>
      <h3>米立成功案列</h3>
      <span class="font18 textLight">—</span>
      <p>米立科技这些年先后开发了一系列对内和对外的产品，并取得了成功，为腾讯，微软，红星美凯龙，IBM，ups，等伙伴提供了优质的服务</p>
      <p class="logoTop">
        <span><img src="http://www.senparc.com/Content/Images/img/qq.png"></span>
        <span><img src="http://www.senparc.com/Content/Images/img/ups.png"></span>
        <span><img src="http://www.senparc.com/Content/Images/img/ibm.png"></span>
        <span><img src="http://www.senparc.com/Content/Images/img/redstar.png"></span>
        <span><img src="http://www.senparc.com/Content/Images/img/microsoft.png"></span>
        <span><img src="http://www.senparc.com/Content/Images/img/yidong.png"></span>
      <p class="logoTop">
        <span><img src="http://www.senparc.com/Content/Images/img/baidu.png"></span>
        <span><img src="http://www.senparc.com/Content/Images/img/alibaba.png"></span>
    </div>
  </div>
  @*内容3*@
  <div class="companyDemand" id="html5">
    <h2>HTML5多行业覆盖 满足您的个性化需求</h2>
    <p>米立多年的H5开发经验，满足个性化定制</p>
    <div class="companyDemandCenter">
      <div class="row overFlow fl" style="display: flex;">
        <div class="titleImg fl"><img src="http://www.senparc.com/Content/Images/img/yunIcon.png"></div>
        <div class="titleText fl">
          <p>微网站</p>
          <p class="font14">打造企业的移动微名片，提升品牌价值</p>
        </div>
      </div>
      <div class="row overFlow fr" style="display: flex;">
        <div class="titleImg fl"><img src="http://www.senparc.com/Content/Images/img/yuanchengIcon.png"></div>
        <div class="titleText fl">
          <p>远程互动</p>
          <p class="font14">实现远程会议，大大提高工作效率</p>
        </div>
      </div>
      <div class="row overFlow fl" style="display: flex;">
        <div class="titleImg fl"><img src="http://www.senparc.com/Content/Images/img/youxiIcon.png"></div>
        <div class="titleText fl">
          <p>游戏</p>
          <p class="font14">增加粉丝互动，提高粉丝粘性和忠诚度</p>
        </div>
      </div>
      <div class="row overFlow fr" style="display: flex;">
        <div class="titleImg fl"><img src="http://www.senparc.com/Content/Images/img/haibaoIcon.png"></div>
        <div class="titleText fl">
          <p>宣传海报</p>
          <p class="font14">多方面全方位展示企业及活动内容</p>
        </div>
      </div>
    </div>
  </div>
  @*内容4*@
  <div class="serviceCenter" name="miaodianb" id="miaodianb">
    <div class="bannerCenter" style="top:100px;">
      <h2>企业信息化服务</h2>
      <span class="font18 textLight">—</span>
      <p>电子商务、CRM、ERP、企业内部管理系统，提供全套解决方案</p>
    </div>
  </div>
  @*内容5*@
  <div class="row overFlow">
    <div class="combannerText fl">
      <span class="titleLogoImg"><img src="~/images/Electronic commerce.png"></span>
      <h3>电子商务</h3>
      <span class="font18 textLight">—</span>
      <p>电子商务（Electronic Commerce）：电子商务使客户能方便简捷地与企业完成繁杂的商业活动，节省双方的时间和空间，提高交易效率。MLtechnology的电子商务服务可以为客户提供电商平台、商城、营销策略、支付系统等一系列电商模式。</p>
    </div>
    <div class="combannerText fl bgGray">
      <span class="titleLogoImg"><img src="~/images/CRM.png"></span>
      <h3>CRM服务</h3>
      <span class="font18 textLight">—</span>
      <p>CRM（Customer Relationship Management即客户关系管理）：CRM可以帮助市场人员进行精确的市场投放，协助企业优化业务流程和客户服务，有针对性地为客户解决问题，以提高企业运营能力，提升企业形象。Senparc CRM为客户提供包括“供应商/客户”“财务”“项目”“行政日志”“日报”“月报”“短信”“客户回访”“话务”等众多模块。</p>
    </div>
  </div>
  <div class="row overFlow">
    <div class="combannerText fl bgGray">
      <span class="titleLogoImg"><img src="~/images/ERP.png"></span>
      <h3>ERP服务</h3>
      <span class="font18 textLight">—</span>
      <p>ERP（Enterprise Resource Planning即企业资源计划）：ERP整合客户需求和企业内部的制造活动以及供应商的制造资源，可快速响应市场，并模拟不同市场状况对企业运营的影响，增强企业的应变能力；为企业决策提供准确、及时的财务报告及各种管理报告、分析数据等。</p>
    </div>
    <div class="combannerText fl ">
      <span class="titleLogoImg"><img src="~/images/Information system.png"></span>
      <h3>企业信息系统</h3>
      <span class="font18 textLight">—</span>
      <p>企业信息系统（Business Information System）：企业信息系统建立企业网络、数据库和各类信息管理系统等，汇集企业经营、战略、管理、生产等各方面的信息资源，可以实现信息的有效流通以及资源和知识的共享，从而提高企业的生产运营效率，增加企业盈利，提高经营能力。</p>
    </div>
  </div>
  @*内容6*@
      <div class="comProduceBanner" name="miaodiana" id="miaodiana">
        <div class="bannerCenter">
          <h2>大数据分析</h2>
          <span>—</span>
          <p>专注于企业级数据智慧营销</p>
          <p>
            掌控第一方潜客数据，敏锐洞悉市场变化，与您的用户保持紧密<br>
            的融合，以多维度方式进行数据洞察分析，帮助用户建立自<br>
            有数据平台。
          </p>
        </div>
      </div>
</div>
<script>
  
</script>