@page
@model IndexModel
@{
    ViewData["Title"] = "米立科技";
}

<link  rel="stylesheet" href="~/css/index.css"/>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" >
    @*<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol*@
    <div class="carousel-inner" role="listbox" >
        <div class="item active">
            <img src="~/images/02.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" ><span class="span">1</span></div>
        </div>
        <div class="item">
            <img src="~/images/03.jpg" class="img-responsive" />
            <div class="carousel-caption" ><span class="span">2</span></div>
        </div>
        <div class="item">
            <img src="~/images/01.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption"><span class="span">3</span></div>
        </div>
    </div>
</div>


<div class="qiye">
    <p  class="qiye1">企业战略目标</p>
    <p  class="qiye2">成为中国领先的软件服务商，进军全国百强企业，打造专业的软件开发品牌。</p>
    <p  class="qiye3">Become China'sleading software service providers, to enter the top 100enterprises, to createa professional software development brand.</p>
    <div class="xian"></div>
</div>


<div  class="ruanjian">
   
  <div  class="ruanjian1">
        <p class="p1">系统软件开发</p>
        <p class="p2">SYSTEM SOFEWARE</p>
        <p class="p3">DEVELOPMENT</p>
        <p class="p4">专业的软件开发，拥有专业的人才团队，根据客户的要求，为客户量身设计合理的系统及软件，为客户提供专业的“一对一”服务，更大程度上满足客户的需求，保证最专业的技术与服务。</p>
        <img src="~/images/04.jpg" />
    </div>


    <div class="ruanjian2">
        <p class="p1">微信公众号/小程序开发</p>
        <p class="p2">WECHAT PUBLIC/SMALL PROGRA</p>
        <p class="p3">M DEVELOPMENT</p>
        <p class="p4">专业的软件开发，拥有专业的人才团队，根据客户的要求，为客户量身设计合理的系统及软件，为客户提供专业的“一对一”服务，更大程度上满足客户的需求，保证最专业的技术与服务。</p>
        <img src="~/images/04.jpg" />
    </div>
    <div class="ruanjian3">
        <p class="p1">手机网站/APP开发</p>
        <p class="p2">MOBILE PHONEWEBSITE / APP</p>
        <p class="p3">DEVELOPMENT</p>
        <p class="p4">专业的软件开发，拥有专业的人才团队，根据客户的要求，为客户量身设计合理的系统及软件，为客户提供专业的“一对一”服务，更大程度上满足客户的需求，保证最专业的技术与服务。</p>
        <img src="~/images/04.jpg" />
    </div>
</div>



<div class="guanyu">
  
    <p class="guanyu1">关于我们</p>
    <span class="guanyu2">/ABOUT US</span>
  
</div>

<div  class="tpw">
    <div class="wz">
        <p class="wz1">创立于2014年11月份，前身为杨铭工作室，2016年成立为山西米立信息技术有限公司。本着以是在高新技术应用领域中专业从事应用系统开发、信息安全服务的高新技术企业。米立长期专注于教育行业、煤炭行业、房地产、市政运营管理等相关行业信息化领域，凭借多年在应用系统开发以及信息安全服务的积累的经验，米立科技已经成为该领域内著名的应用系统解决方案提供商。</p>
        <p class="wz1">米立科技倡导“专业、务实、高效、创新”的企业精神，具有良好的内部机制。优良的工作环境以及良好的激励机制，吸引了一批年轻的、有学识的、具有实干精神的人才。高素质、高水平、高效率的人才是尊蓝信息在当今激烈的市场中立于不败之地的保障...</p>
        <span class="wz2">了解更多>></span>
    </div> 
    <div class="tupian">
        <img src="~/images/06.jpg" width="100%" height="100%"/>
    </div>
</div>


<div  class="xinwen">
  <p class="xinwen1">新闻动态</p>
    <span class="xinwen2">/news</span>
    <span class="xinwen3">了解更多</span>
</div>


<div class="tpw1">
    <div class="tupian1">
        <img src="~/images/07.jpg" style="width: 100%;height: 100%;"/>
    </div>
    <div class="dongtai">
        <p class="dt1">山西米立信息技术有限公司</p>

        <p >
            <a href="#" class="dt2">近日，山西省米立信息技术有限公司成立，办公地点位于高平市</a>
        </p>

        <p style="line-height:4px;">
                <a href="#" class="dt3">金安小区166号...</a>
        </p>

        <ul class="dt4">


            <li  class="li1">
                <a asp-page="/Wechat" class="a1">微信小程序上线</a>
                <a href="#" class="a2">2019-05-28</a>
            </li>
            <li >
                <a href="#" class="a1">第二届三次会员大会暨四次理事会会议纪要</a>

                <a href="#" class="a3">2019-05-28</a>
            </li>
            <li >
                <a href="#" class="a1">数据迁移</a>

                <a href="#" class="a4">2019-05-28</a>
            </li>
            <li >
                <a href="#" class="a1">考试系统上线</a>

                <a href="#" class="a5">2019-05-28</a>
            </li>
            <li>
                <a href="#" class="a1">微信公众号与订阅号区别</a>

                <a shref="#"  class="a6">2019-05-28</a>
            </li>
        </ul>
    </div>
</div>