@page
@model PrivacyModel
@{
  ViewData["Title"] = "米立科技";
}
<h2>@ViewData["Title"]</h2>

<link rel="stylesheet" href="~/css/Wechat.css" />
@*轮播*@
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000" style="width:1440px;height:380px;    margin-top: 22px;">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="~/images/02.jpg" alt="ASP.NET" class="img-responsive" />
      <div class="carousel-caption"><span class="span">1</span></div>
    </div>
    <div class="item">
      <img src="~/images/03.jpg" class="img-responsive" />
      <div class="carousel-caption"><span class="span">2</span></div>
    </div>
    <div class="item">
      <img src="~/images/01.jpg" alt="Microsoft Azure" class="img-responsive" />
      <div class="carousel-caption"><span class="span">3</span></div>
    </div>
  </div>
</div>



<div class="div">
  <div class="div1">
    <div class="kf">在线客服</div>
    <div class="qq">
      <a class="qq1"><span class="qq2"></span></a>
      <a class="qq1"><span class="qq2"></span></a>
    </div>

    <div class="qq">
      <div class="time">
        <span class="time1"></span>
        <span class="time2">工作时间</span>
      </div>
      <p class="zt1">周一至周五 ：8:30-17:30</p>
      <p class="zt1">周六至周日 ：9:00-17:00</p>
    </div>
  </div>
  
  <div class="div2">
    <div style="width:52px;height:36px;border-bottom:2px solid #005d98;font-size: 13px;text-align: center;line-height: 36px;">新闻详情</div>
    <div class="news-cont">
      <p>微信小程序上线</p>
      <div>
        <div class="shareto">分享到：</div>
        <div class="sharein">
          <a href=""><div class="shareicon weixin"></div><div class="sharectrl">微信</div></a>
          <a href=""><div class="shareicon sina"></div><div class="sharectrl">新浪微博</div></a>
          <a href=""><div class="shareicon qqfen"></div><div class="sharectrl">qq分享</div></a>
          <a href=""><div class="shareicon qqkong"></div><div class="sharectrl">qq空间</div></a>
          <a href=""><div class="shareicon douban"></div><div class="sharectrl">豆瓣网</div></a>
          <a href=""><div class="shareicon baidu"></div><div class="sharectrl">百度贴吧</div></a>
        </div>
      </div>
      <p class="text">微信小程序（weixinxiaochengxu），简称小程序，缩写XCX，英文名mini program，是一种不需要下载安装即可使用的应用，它实现了应用“触手可及”的梦想，用户扫一扫或搜一下即可打开应用。</p>
      <p class="text">全面开放申请后，主体类型为企业、政府、媒体、其他组织或个人的开发者，均可申请注册小程序。小程序、订阅号、服务号、企业号是并行的体系。</p>
      <p class="text">2017年1月9日，张小龙在2017微信公开课Pro上发布的小程序正式上线。</p>

    </div>

  </div>
</div>