@page
@model PrivacyModel
@{
  ViewData["Title"] = "米立科技";
}
<link type="text/css" rel="stylesheet" href="~/css/Wechat.css" />
<style>
  .content-border {
    padding-top: 25px;
    padding-bottom: 34px;
}
</style>
<div class="content-border">

</div>
