@{
    ViewData["Title"] = "关于我们";
}
<h1>@ViewData["Title"]</h1>

<p>MLtechnology创立于2014年11月份，前身为杨铭工作室，2016年成立为山西米立信息技术有限公司。本着以是在高新技术应用领域中专业从事应用系统开发、信息安全服务的高新技术企业。米立长期专注于教育行业、煤炭行业、房地产、市政运营管理等相关行业信息化领域，凭借多年在应用系统开发以及信息安全服务的积累的经验，米立科技已经成为该领域内著名的应用系统解决方案提供商。

米立科技倡导“专业、务实、高效、创新”的企业精神，具有良好的内部机制。优良的工作环境以及良好的激励机制，吸引了一批年轻的、有学识的、具有实干精神的人才。高素质、高水平、高效率的人才是尊蓝信息在当今激烈的市场中立于不败之地的保障...</p>
