@using MLTechnology_2021.Models
@model MLPageModel
@{
    ViewData["Title"] = @Model.EnterPriceAbbreviation;
}

<style>
    .demo {
        font-family: sans-serif;
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 20px 30px;
        margin-top: 1em;
        margin-bottom: 40px;
        user-select: none;
        overflow-x: auto;
    }
</style>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div id="carousel-list" class="carousel-inner" v-for="item in items">
        <div class="carousel-item active">
            {{ item.img }}
            <img :src="{{ item.img }}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<div id="hello-vue" class="demo">
    {{ message }}
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section scripts{
<script>
    const HelloVueApp = {
      data() {
        return {
            message: 'Hello Vue!!'
        }
      }
    }

    Vue.createApp(HelloVueApp).mount('#hello-vue')

    Vue.createApp({
      data() {
        return {
          items: [
                { img: 'https://mltechnology.oss-cn-beijing.aliyuncs.com/official/website/98-mlkj/home-banner-001' },
                { img: 'https://mltechnology.oss-cn-beijing.aliyuncs.com/official/website/98-mlkj/home-banner-002' },
                { img: 'https://mltechnology.oss-cn-beijing.aliyuncs.com/official/website/98-mlkj/home-banner-003' },
                { img: 'https://mltechnology.oss-cn-beijing.aliyuncs.com/official/website/98-mlkj/home-banner-004' },
                { img: 'https://mltechnology.oss-cn-beijing.aliyuncs.com/official/website/98-mlkj/home-banner-005' },
                { img: 'https://mltechnology.oss-cn-beijing.aliyuncs.com/official/website/98-mlkj/home-banner-006' },
                { img: 'https://mltechnology.oss-cn-beijing.aliyuncs.com/official/website/98-mlkj/home-banner-007' }
            ]
        }
      }
    }).mount('#carousel-list')
</script>

}